.routes {
  margin-top: 6px;
  background-color: whitesmoke;
  color: whitesmoke;
  border-radius: 8px;
  opacity: 0.9;
  padding: 6px 12px 6px 12px;

  .line-section {
    .line {
      background-color: whitesmoke;
      min-width: 1.7rem;
      color: whitesmoke;
      text-align: center;
      padding: 2px 6px;
      display: inline-block;
      border-radius: 6px;
      margin-right: 6px;
      margin-bottom: 2px;
    }
  }
}
