.itinerary.container {
  width: 100%;

  .legs-times {
    .legs {
      .leg {
        .walk {

        }

        .burn {
          display: inline-block;
          padding: 0 4px;
          border-radius: 4px;
          background-color: #FF8C00;
          color: white;

          i.material-icons {
            font-size: 10px;
          }
        }
      }
    }
  }
}
