:host ::ng-deep {
  mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-input {

    .mat-mdc-text-field-wrapper.mdc-text-field {
      background-color: white;
      .mat-mdc-form-field-focus-overlay{
        opacity: 0;
      }
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
      background-color: white !important;
    }
  }
}

.otp-container {
  padding-bottom: 12px;
  margin-bottom: 8px;

  .row {
    .col {
      &.col-first {
        margin-top: 12px;
      }
    }
  }

  .mat-content.mat-content-hide-toggle {
    margin-right: 0 !important;
  }
}

.itinerary-walk {
  //background-color: #81CF5C;
}

:host ::ng-deep {
  .mat-expansion-panel-header, .mat-expansion-panel-body {
    padding: 12px;
  }

  .mat-expansion-panel-header.walk {
    background-color: #81CF5C;
  }

  .mat-expansion-panel-header.mat-expanded.walk {
    background-color: #a6dd8c;

    mat-panel-description {
      color: black;
    }
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header.walk:hover {
    background-color: #a6dd8c;

    mat-panel-description {
      color: black;
    }
  }

  .mat-expansion-panel-header.bicycle {
    background-color: #2890FF;
    //background-color: #007bff;
  }

  .mat-expansion-panel-header.mat-expanded.bicycle {
    background-color: #93c7ff;

    mat-panel-description {
      color: black;
    }
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header.bicycle:hover {
    background-color: #93c7ff;

    mat-panel-description {
      color: black;
    }
  }

  .mat-content.mat-content-hide-toggle {
    margin-right: 0;
  }

  .mat-expansion-panel-header-description {
    margin-right: 0;
  }
}

.app-itinerary-header {
  width: 100% !important;
}

.mat-panel-description {
  margin: 0 !important;
}

.mat-expansion-panel-header {
  height: 100px !important;
}

.mat-expansion-panel-header {
  height: 100px;
}

.itinerary-container {
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 100px);
  max-height: 540px;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: dimgray;
  }
}

.mat-success {
  background-color: #4CBB17;
  color: #fff;
}

