<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Linia {{ state?.line || '' }} {{ state?.name || '' }}
                <span class="badge badge-sm badge-outline badge-info">v{{ state.version }}.0</span>
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Konfiguracja lini autobusowej
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/routes']" class="btn btn-sm btn-secondary">Wróć do listy linii</a>
            <a *ngIf="!hasVariants()" (click)="scrollNoVariants()" class="btn btn-sm btn-primary pr-0">
                Pokaż warianty
                <img src="assets/gif/arrow-down.gif" alt="Computer man" style="width:2rem;height:2rem;">
            </a>
            <a *ngIf="hasVariants()" (click)="scrollVariants()" class="btn btn-sm btn-primary pr-0">
                Pokaż warianty
                <img src="assets/gif/arrow-down.gif" alt="Computer man" style="width:2rem;height:2rem;">
            </a>
        </div>
    </div>

    <!-- begin: projects -->
    <div class="flex flex-col items-stretch gap-5 lg:gap-7.5">
        <!-- begin: cards -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informacje podstawowe</h3>
                </div>
                <div class="card-body lg:py-7.5 grid gap-5 lg:gap-5">
                    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                        <label class="form-label flex items-center gap-1 max-w-56">Numer Linii</label>
                        <input type="text" name="line" id="line" [(ngModel)]="trips.route.routeId.line" class="input"
                               placeholder="L1">
                    </div>

                    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                        <label class="form-label flex items-center gap-1 max-w-56">Nazwa linii</label>
                        <input type="text" name="name" id="name" [(ngModel)]="trips.route.routeId.name" class="input"
                               placeholder="Kielce - Wrocław">
                    </div>

                    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                        <label class="form-label flex items-center gap-1 max-w-56">Wersja</label>
                        <span class="badge badge-sm badge-outline badge-info">v{{ state.version }}.0</span>
                    </div>

                    <div class="flex items-center justify-between flex-wrap border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <img src="/assets/media/brand-logos/google.svg" class="size-6 shrink-0" alt="">
                            <div class="flex flex-col gap-0.5">
                                <a class="text-sm font-medium text-gray-900 hover:text-primary-active">Google</a>
                                <a *ngIf="trips.route.google" class="text-2sm text-gray-700 hover:text-primary-active">
                                    Udostępniaj linie w Google Maps
                                </a>
                                <a *ngIf="!trips.route.google" class="text-2sm text-gray-700 hover:text-primary-active">
                                    NIE Udostępniaj linie w Google Maps
                                </a>
                            </div>
                        </div>
                        <div class="flex items-center gap-5"><label class="switch switch-sm">
                            <input type="checkbox" [(ngModel)]="trips.route.google"></label>
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <span *ngIf="trips.route.active"
                                  class="menu-icon items-start w-[25px] text-green-700 dark:text-green-700">
                                <i class="ki-filled ki-check-circle text-3xl"></i>
                            </span>
                            <div *ngIf="trips.route.active" class="flex flex-col gap-0.5">
                                <a class="text-2sm text-gray-700 hover:text-primary-active"> Linia jest aktywna </a>
                            </div>

                            <span *ngIf="!trips.route.active"
                                  class="menu-icon items-start w-[25px] text-red-800 dark:text-red-800">
                                <fa-icon [icon]="faCircleXmark" [class]="'text-3xl'"></fa-icon>
                            </span>
                            <div *ngIf="!trips.route.active" class="flex flex-col gap-0.5">
                                <a class="text-2sm text-gray-700 hover:text-primary-active"> Linia nie jest aktywna </a>
                            </div>
                        </div>
                        <div class="flex items-center gap-5">
                            <label class="switch switch-sm" data-dashlane-label="true">
                                <input type="checkbox" [(ngModel)]="trips.route.active">
                            </label>
                        </div>
                    </div>

                    <div class="border-t border-gray-200 my-2.5"></div>

                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">Opis linii</div>
                            <span class="text-gray-700 text-2sm">Opis linii lub przystanki pośrednie przez które jedzie linia</span>
                        </div>
                        <div class="flex flex-col w-full gap-1">
                            <textarea [(ngModel)]="trips.route.description" class="textarea"
                                      placeholder="Kielce - Częstochowa - Wrocław" rows="3"></textarea>
                        </div>
                        <div class="flex justify-end w-full gap-2.5">
                            <button [routerLink]="['/agency/routes']" class="btn btn-secondary">Wróć do listy linii
                            </button>
                            <button (click)="saveBasicInfo()" [disabled]="isUpdatingBasicInformation" class="btn btn-success">
                                Zapisz Informacje Podstawowe
                                @if (isUpdatingBasicInformation) {
                                    <fa-icon [icon]="faSpinner" [animation]="'spin'"/>
                                }
                            </button>
                        </div>
                    </div>

                    <p class="text-2sm text-gray-800">
                        Dodaj nowe warianty trasy i zacznij publikować rozkłady jazdy. Bądź widoczny w Google Maps i w
                        naszej aplikacji – ułatwiaj pasażerom podróżowanie i docieraj do większej liczby klientów!
                    </p>
                </div>
            </div>

            <!-- Container -->
            <div #noVariants *ngIf="!hasVariants()" class="card">
                <div class="card-body flex flex-col items-center gap-2.5 py-7.5">
                    <div class="flex justify-center p-7.5 py-9">
                        <img alt="image" class="dark:hidden max-h-[230px]" src="assets/media/illustrations/22.svg"/>
                        <img alt="image" class="light:hidden max-h-[230px]"
                             src="assets/media/illustrations/22-dark.svg"/>
                    </div>
                    <div class="flex flex-col gap-5 lg:gap-7.5">
                        <div class="flex flex-col gap-3 text-center">
                            <h2 class="text-1.5xl font-semibold text-gray-900">
                                Zdefiniuj i skonfiguruj nowy wariant
                            </h2>
                            <p class="text-sm text-gray-800">
                                Wygląda na to że dodałeś Nową Linię bez wariantu trasy
                                <br/>
                                Kliknij poniżej Dodaj Nowy Wariant
                            </p>
                        </div>
                        <div class="flex justify-center mb-5">
                            <a (click)="createTrip()" class="btn btn-primary">
                                Dodaj Nowy Wariant
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Container -->

            <!-- Container -->
            <div class="flex flex-col gap-2">
                <div #variants *ngIf="hasVariants()" class="card">
                    <div class="card-header">
                        <h3 (click)="createTrip()" class="card-title">
                            {{ 'agency.trip.listOfVariants' | transloco }} ({{ (trips?.trips || []).length || 0 }})
                        </h3>
                        <div class="flex items-center gap-2.5">
                            <a (click)="createTrip()"
                               class="btn btn-sm btn-primary">{{ 'agency.trip.addNewVariant' | transloco }}</a>
                        </div>
                    </div>
                    <div class="card-body lg:py-7.5 grid gap-5 lg:gap-5">
                        @for (trip of trips?.trips; track trip) {
                            <div [ngClass]="{'border-dashed': !trip?.isMainVariant, 'pulse-blob': isCreatedOrUpdated(trip)}"
                                 class="flex items-center flex-wrap sm:flex-nowrap justify-between grow border border-gray-200 rounded-xl gap-2 p-5 rtl:[background-position:-195px_-85px] [background-position:195px_-85px] bg-no-repeat bg-[length:650px] user-access-bg">

                                <div class="flex items-center gap-4">
                                    <div class="relative size-[50px] shrink-0">
                                        <svg class="w-full h-full stroke-brand-clarity fill-brand-light" width="44"
                                             height="48"
                                             viewBox="0 0 44 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16 2.4641C19.7128 0.320509 24.2872 0.320508 28 2.4641L37.6506 8.0359C41.3634 10.1795 43.6506 14.141 43.6506 18.4282V29.5718C43.6506 33.859 41.3634 37.8205 37.6506 39.9641L28 45.5359C24.2872 47.6795 19.7128 47.6795 16 45.5359L6.34937 39.9641C2.63655 37.8205 0.349365 33.859 0.349365 29.5718V18.4282C0.349365 14.141 2.63655 10.1795 6.34937 8.0359L16 2.4641Z"
                                                  fill=""></path>
                                            <path d="M16.25 2.89711C19.8081 0.842838 24.1919 0.842837 27.75 2.89711L37.4006 8.46891C40.9587 10.5232 43.1506 14.3196 43.1506 18.4282V29.5718C43.1506 33.6804 40.9587 37.4768 37.4006 39.5311L27.75 45.1029C24.1919 47.1572 19.8081 47.1572 16.25 45.1029L6.59937 39.5311C3.04125 37.4768 0.849365 33.6803 0.849365 29.5718V18.4282C0.849365 14.3196 3.04125 10.5232 6.59937 8.46891L16.25 2.89711Z"
                                                  stroke=""></path>
                                        </svg>
                                        <div class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4 text-sm">
                                            {{ trip.line }}
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-1.5">
                                        <div class="flex items-center flex-wrap gap-2.5">
                                            <a (click)="editTrip(trip)"
                                               class="text-base font-medium text-gray-900 hover:text-primary-active">
                                                {{ trip.origin }} - {{ trip.destination }}
                                            </a>
                                        </div>
                                        @if (trip.isMainVariant) {
                                            <div class="form-info text-gray-800 font-normal">
                                                {{ 'agency.trip.mainVariant' | transloco }}
                                                ({{ 'agency.trip.' + trip.mode | transloco }})
                                            </div>
                                        } @else {
                                            <div class="form-info text-gray-800 font-normal">
                                                {{ trip?.variantDescription }} ({{ trip?.variantDesignation }})
                                            </div>
                                        }

                                        @if (trip.matchAnyBrigade) {
                                            <span class="text-2sm text-danger">Nie można usunąć. Trasa jest przypisane do brygady</span>
                                        }

<!--                                        <div class="form-info text-gray-800 font-normal">-->
<!--                                            Utworzono: {{ trip?.createdAt | date }}-->
<!--                                            Aktualizacja: {{ trip?.updatedAt | date }}-->
<!--                                        </div>-->
                                    </div>
                                </div>

                                <div class="flex items-center flex-wrap md:flex-nowrap gap-1.5">
                                    <a (click)="editTrip(trip)" class="btn btn-sm btn-clear btn-light">
                                        {{ 'agency.trip.variantDetails' | transloco }}
                                    </a>
                                    <button [disabled]="trip.matchAnyBrigade" (click)="deleteTrip(trip)" class="btn btn-sm btn-icon btn-clear btn-danger"><i class="ki-filled ki-cross-square"></i></button>
                                </div>
                            </div>
                        }

                        <p class="text-2sm text-gray-800"></p>

                    </div>
                </div>
            </div>
            <!-- End of Container -->
        </div>
        <!-- end: cards -->
    </div>
    <!-- end: projects -->

</div>
