<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Linia {{ state?.line || '' }} {{ state?.name || '' }}
                <span class="badge badge-sm badge-outline badge-info">v{{ state.version }}.0</span>
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Konfiguracja lini autobusowej
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/routes']" class="btn btn-sm btn-secondary">Wróć do listy linii</a>
            <a *ngIf="!hasVariants()" (click)="scrollNoVariants()" class="btn btn-sm btn-primary pr-0">
                Pokaż warianty
                <img src="assets/gif/arrow-down.gif" alt="Computer man" style="width:2rem;height:2rem;">
            </a>
            <a *ngIf="hasVariants()" (click)="scrollVariants()" class="btn btn-sm btn-primary pr-0">
                Pokaż warianty
                <img src="assets/gif/arrow-down.gif" alt="Computer man" style="width:2rem;height:2rem;">
            </a>
        </div>
    </div>

    <!-- begin: projects -->
    <div class="flex flex-col items-stretch gap-5 lg:gap-7.5">
        <!-- begin: cards -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informacje podstawowe</h3>
                </div>
                <div class="card-body lg:py-7.5 grid gap-5 lg:gap-5">
                    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                        <label class="form-label flex items-center gap-1 max-w-56">Numer Linii</label>
                        <input type="text" name="line" id="line" [(ngModel)]="trips.route.routeId.line" class="input"
                               placeholder="L1">
                    </div>

                    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                        <label class="form-label flex items-center gap-1 max-w-56">Nazwa linii</label>
                        <input type="text" name="name" id="name" [(ngModel)]="trips.route.routeId.name" class="input"
                               placeholder="Kielce - Wrocław">
                    </div>

                    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                        <label class="form-label flex items-center gap-1 max-w-56">Wersja</label>
                        <span class="badge badge-sm badge-outline badge-info">v{{ state.version }}.0</span>
                    </div>

                    <div class="flex items-center justify-between flex-wrap border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <img src="/assets/media/brand-logos/google.svg" class="size-6 shrink-0" alt="">
                            <div class="flex flex-col gap-0.5">
                                <a class="text-sm font-medium text-gray-900 hover:text-primary-active">Google</a>
                                <a *ngIf="trips.route.google" class="text-2sm text-gray-700 hover:text-primary-active">
                                    Udostępniaj linie w Google Maps
                                </a>
                                <a *ngIf="!trips.route.google" class="text-2sm text-gray-700 hover:text-primary-active">
                                    NIE Udostępniaj linie w Google Maps
                                </a>
                            </div>
                        </div>
                        <div class="flex items-center gap-5"><label class="switch switch-sm">
                            <input type="checkbox" [(ngModel)]="trips.route.google"></label>
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <span *ngIf="trips.route.active"
                                  class="menu-icon items-start w-[25px] text-green-700 dark:text-green-700">
                                <i class="ki-filled ki-check-circle text-3xl"></i>
                            </span>
                            <div *ngIf="trips.route.active" class="flex flex-col gap-0.5">
                                <a class="text-2sm text-gray-700 hover:text-primary-active"> Linia jest aktywna </a>
                            </div>

                            <span *ngIf="!trips.route.active"
                                  class="menu-icon items-start w-[25px] text-red-800 dark:text-red-800">
                                <fa-icon [icon]="faCircleXmark" [class]="'text-3xl'"></fa-icon>
                            </span>
                            <div *ngIf="!trips.route.active" class="flex flex-col gap-0.5">
                                <a class="text-2sm text-gray-700 hover:text-primary-active"> Linia nie jest aktywna </a>
                            </div>
                        </div>
                        <div class="flex items-center gap-5">
                            <label class="switch switch-sm" data-dashlane-label="true">
                                <input type="checkbox" [(ngModel)]="trips.route.active">
                            </label>
                        </div>
                    </div>

                    <div class="border-t border-gray-200 my-2.5"></div>

                    <div class="flex items-center justify-between flex-wrap gap-2">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <label class="form-label flex items-center gap-1 max-w-56">Przystanek początkowy</label>
                        </div>
                        <div class="flex items-center gap-5">
                            <span class="badge badge-sm badge-outline badge-dark">{{ trips.route.originStop.name }}</span>
                            <label class="switch switch-sm" data-dashlane-label="true">
                                <button type="button"
                                        (click)="mapPreview(trips.route.originStop)"
                                        class="shrink-0 select-none text-base text-gray-600 sm:text-sm/6 mx-2 justify-end">
                                    <span>Mapa &nbsp;</span>
                                    <fa-icon [icon]="faMap"></fa-icon>
                                </button>
                            </label>
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap gap-2">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <label class="form-label flex items-center gap-1 max-w-56">Przystanek początkowy</label>
                        </div>
                        <div class="flex items-center gap-5">
                            <span class="badge badge-sm badge-outline badge-dark">{{ trips.route.destinationStop.name }}</span>
                            <label class="switch switch-sm" data-dashlane-label="true">
                                <button type="button"
                                        (click)="mapPreview(trips.route.destinationStop)"
                                        class="shrink-0 select-none text-base text-gray-600 sm:text-sm/6 mx-2 justify-end">
                                    <span>Mapa &nbsp;</span>
                                    <fa-icon [icon]="faMap"></fa-icon>
                                </button>
                            </label>
                        </div>
                    </div>

                    <div class="border-t border-gray-200 my-2.5"></div>

                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">Opis linii</div>
                            <span class="text-gray-700 text-2sm">Opis linii lub przystanki pośrednie przez które jedzie linia</span>
                        </div>
                        <div class="flex flex-col w-full gap-1">
                            <textarea [(ngModel)]="trips.route.description" class="textarea"
                                      placeholder="Kielce - Częstochowa - Wrocław" rows="3"></textarea>
                        </div>
                        <div class="flex justify-end w-full gap-2.5">
                            <button [routerLink]="['/agency/routes']" class="btn btn-secondary">Wróć do listy linii
                            </button>
                            <button (click)="saveBasicInfo()" [disabled]="isUpdatingBasicInformation"
                                    class="btn btn-success">
                                Zapisz Informacje Podstawowe
                                @if (isUpdatingBasicInformation) {
                                    <fa-icon [icon]="faSpinner" [animation]="'spin'"/>
                                }
                            </button>
                        </div>
                    </div>

                    <p class="text-2sm text-gray-800">
                        Dodaj nowe warianty trasy i zacznij publikować rozkłady jazdy. Bądź widoczny w Google Maps i
                        w
                        naszej aplikacji – ułatwiaj pasażerom podróżowanie i docieraj do większej liczby klientów!
                    </p>
                </div>
            </div>

            <!-- Container -->
            <div #noVariants *ngIf="!hasVariants()" class="card">
                <div class="card-body flex flex-col items-center gap-2.5 py-7.5">
                    <div class="flex justify-center p-7.5 py-9">
                        <img alt="image" class="dark:hidden max-h-[230px]" src="assets/media/illustrations/22.svg"/>
                        <img alt="image" class="light:hidden max-h-[230px]"
                             src="assets/media/illustrations/22-dark.svg"/>
                    </div>
                    <div class="flex flex-col gap-5 lg:gap-7.5">
                        <div class="flex flex-col gap-3 text-center">
                            <h2 class="text-1.5xl font-semibold text-gray-900">
                                Zdefiniuj i skonfiguruj nowy wariant
                            </h2>
                            <p class="text-sm text-gray-800">
                                Wygląda na to że dodałeś Nową Linię bez wariantu trasy
                                <br/>
                                Kliknij poniżej Dodaj Nowy Wariant
                            </p>
                        </div>
                        <div class="flex justify-center mb-5">
                            <a (click)="createTrip()" class="btn btn-primary">
                                Dodaj Nowy Wariant
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Container -->

            <!-- Container -->
            <div class="flex flex-col gap-2">
                <div #variants *ngIf="hasVariants()" class="card">
                    <div class="card-header">
                        <h3 (click)="createTrip()" class="card-title">
                            {{ 'agency.trip.listOfVariants' | transloco }} ({{ (trips?.trips || []).length || 0 }})
                        </h3>
                        <div class="flex items-center gap-2.5">
                            <a (click)="createTrip()"
                               class="btn btn-sm btn-primary">{{ 'agency.trip.addNewVariant' | transloco }}</a>
                        </div>
                    </div>

                    <div class="card-body lg:py-5 grid gap-2.5 lg:gap-2.5">
                        <strong class="text-sm">TAM</strong>
                        @for (trip of findTripsWithDirectionFront(); track trip) {
                            <app-trip-item [trip]="trip" [state]="state" (onDelete)="onDelete($event)"></app-trip-item>
                        }
                        <p class="text-2sm text-gray-800"></p>
                    </div>


                    <div class="card-body lg:py-7.5 grid gap-5 lg:gap-5">
                        <strong class="text-sm">POWRÓT</strong>

                        @for (trip of findTripsWithDirectionBack(); track trip) {
                            <app-trip-item [trip]="trip" [state]="state" (onDelete)="onDelete($event)"></app-trip-item>
                        }
                        <p class="text-2sm text-gray-800"></p>
                    </div>
                </div>
            </div>
            <!-- End of Container -->
        </div>
        <!-- end: cards -->
    </div>
    <!-- end: projects -->

</div>
