<div class="row h-100">
    <div class="col-3">
        <div *ngFor="let route of routes">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{route.line}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{route.variants.length}} warianty
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-4">
                        <!--                <app-field [key]="'Liczba wariantów'" [value]="route.variants.length"></app-field>-->
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                </div>
            </mat-expansion-panel>
        </div>

        <button class="btn btn-success">Dodaj Trasę</button>
    </div>

    <div class="col-9 h-100">
        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>
