<!--<div class="itinerary container" (click)="isOpen = !isOpen; zoomToItineraryIfOpen()">-->
<div class="details row"  (click)="zoomToItineraryIfOpen()">
  <div class="col-2 ticking">
    <div class="time">{{startTime()}}</div>
    <div class="unit">min</div>
  </div>

  <div class="col-10">
    <div>
      <div class="legs">
        <strong>{{getFirst().startTime | otpDate}} - {{getLast().endTime | otpDate}}</strong>
        <div class="float-end">
          {{getTotalTime() | number: '1.0-0'}} min
        </div>
      </div>
    </div>

    <div class="legs-lines">
      <div *ngFor="let leg of getLegsWithoutWalk(); let last = last; let first = first" class="legs">
        <div *ngIf="isBus(leg)" class="leg bus">
          <i class="material-icons">directions_bus</i>
          <span>{{leg.routeShortName}}</span>
        </div>
        <div *ngIf="isTram(leg)" class="leg tram">
          <i class="material-icons">tram</i>
          <span>{{leg.routeShortName}}</span>
        </div>
        <!--          <div *ngIf="isWalk(leg)" class="leg walk">-->
        <!--            <i class="material-icons">directions_walk</i>-->
        <!--          </div>-->
        <div *ngIf="isSubway(leg)" class="leg subway">
          <i class="material-icons">subway</i>
          <span>{{leg.routeShortName}}</span>
        </div>
        <div *ngIf="isRail(leg)" class="leg rail">
          <i class="material-icons">train</i>
          <span>{{leg.routeShortName}}</span>
        </div>
        <div *ngIf="!isWalk(leg) && !last" class="leg">
          <i class="material-icons">chevron_right</i>
        </div>
      </div>
      <div class="legs float-end fw-bold">
        <!--          {{getStartTime()}}-->
      </div>
    </div>

    <div class="legs-times">
      <div class="legs">
        <div class="leg">
          <span>{{getFirstNonWalk()?.from?.departure | otpDate}}</span>
          <span> z: </span>
          <span class="name">{{getFirstNonWalk()?.from?.name}}</span>
          <span *ngIf="getFirst().mode == 'WALK'" class="walk">
              <i class="material-icons">directions_walk</i>
            {{getFirst().distance | number : '1.0-0'}}m
            </span>
        </div>
      </div>
    </div>
  </div>
</div>
