<!-- Container -->
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Google Mapy
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700"></div>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-light" href="#">
                Public Profile
            </a>
            <a class="btn btn-sm btn-primary" href="#">
                Billing
            </a>
        </div>
    </div>
</div>
<!-- End of Container -->

<!-- Container -->
<div class="container-fixed">
    <!-- begin: grid -->
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-5 lg:gap-7.5">
        <div class="col-span-2">
            <div class="flex flex-col gap-5 lg:gap-7.5">

                <div class="card-body px-0 py-0 grid gap-5 lg:gap-7.5">
                    <p class="text-2sm text-gray-800">
                        Pomogę Państwu być widocznym dla klientów.
                        Dzięki aplikacji Następna Stacja możesz ładwo skonfigurować i zarządzać liniami.
                        Przed przekazaniem rozkładu do Google musisz wiedzeić o kilu rzeczach.
                    </p>
                    <div class="flex items-center flex-wrap sm:flex-nowrap justify-between grow border border-gray-200 rounded-xl gap-2 p-5 rtl:[background-position:-195px_-85px] [background-position:195px_-85px] bg-no-repeat bg-[length:650px] user-access-bg">
                        <div class="flex items-center gap-4">
                            <div class="relative size-[100px] shrink-0">
                                <img src="assets/google_spark.gif" alt="Google Logo"/>
                            </div>
                            <div class="flex flex-col gap-1.5">
                                <!--                                <div class="flex items-center flex-wrap gap-2.5">-->
                                <!--                                    <a class="text-base font-medium text-gray-900 hover:text-primary-active"-->
                                <!--                                       href="#">-->
                                <!--                                        Linia autobusowa jest linią lokalną-->
                                <!--                                    </a>-->
                                <!--                                    <span class="badge badge-sm badge-outline badge-danger shrink-0">Ważne</span>-->
                                <!--                                </div>-->
                                <div class="form-info text-gray-800 font-normal">

                                    Google Mapy są produktem zarządzanym przez firmę Alphabet Inc. który wspiera system
                                    informacji pasażerskiej.

                                    Warunkiem korzystania z Google Maps jest to, aby przewozy były realizowane na
                                    regularnych trasach, istnieje możliwość zakupu bilietu u kierowcy lub na dworcu
                                    jeżeli jest to wymagana musi być dostępny dla ogółu społeczeństwa,
                                    a pasażerowie mogą z niego korzystać w celach ogólnych podróży.
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-2sm text-gray-800"></p>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Oświadczenia</h3>
                    </div>
                    <div class="card-body grid gap-7.5 py-5 lg:py-7.5">
                        <div class="flex flex-col gap-2.5">
                            <label class="checkbox-group">
                                <input class="checkbox checkbox-sm" name="option" type="checkbox"
                                       [(ngModel)]="googleAgreementsResponse.repeatabilityStatement"
                                       [defaultChecked]="false"/>
                                <span class="checkbox-label text-gray-800 font-medium">Oświadczenie o prowadzeniu regularnych przewozów</span>
                            </label>
                            <p class="form-info leading-5 text-gray-800 font-normal">
                                Oświadczam, że wszystkie trasy udostępniane przeze mnie w Google Transit są realizowane
                                w ramach regularnych przewozów pasażerskich, tj. przewozu osób autobusami na określonych
                                trasach, zgodnie z rozkładem jazdy i na podstawie udzielonego zezwolenia.
                            </p>
                        </div>
                        <div class="flex flex-col gap-2.5">
                            <label class="checkbox-group">
                                <input class="checkbox checkbox-sm" name="option" type="checkbox"
                                       [(ngModel)]="googleAgreementsResponse.ticketSalesStatement"
                                       [defaultChecked]="false"/>
                                <span class="checkbox-label text-gray-800 font-medium">Oświadczenie o możliwości zakupu biletów</span>
                            </label>
                            <p class="form-info leading-5 text-gray-800 font-normal">
                                Oświadczam, że w przypadku pobierania opłaty za przewóz, zapewniam możliwość zakupu
                                biletu na pokładzie pojazdu LUB w kasie dworca autobusowego.
                            </p>
                        </div>
                        <div class="flex flex-col gap-2.5">
                            <label class="checkbox-group">
                                <input class="checkbox checkbox-sm" name="option" type="checkbox"
                                       [(ngModel)]="googleAgreementsResponse.accessibilityStatement"
                                       [defaultChecked]="false"/>
                                <span class="checkbox-label text-gray-800 font-medium">Oświadczenie o dostępności dla ogółu społeczeństwa</span>
                            </label>
                            <p class="form-info leading-5 text-gray-800 font-normal">
                                Oświadczam, że przewozy które realizuję są dostępne dla ogółu społeczeństwa, a
                                pasażerowie mogą z niego korzystać w
                                celach ogólnych podróży.
                            </p>
                        </div>

                        <div class="border-t border-gray-200 my-0.5"></div>

                        <div class="flex justify-end">
                            <button (click)="updateGoogleAgreements()" class="btn btn-success">
                                Zapisz Oświadczenia
                            </button>
                        </div>
                    </div>


                </div>

                <div class="card">
                    <div class="card-header gap-2" id="auth_social_sign_in">
                        <h3 class="card-title">
                            Pobierz pliki GTFS
                        </h3>
                        <div class="btn btn-sm btn-icon btn-icon-lg text-gray-500 hover:text-primary-active">
                            <i class="ki-filled ki-information-2">
                            </i>
                        </div>
                    </div>
                    <div class="card-body lg:py-7.5 py-5">
                        <div class="text-sm text-gray-800 mb-4">
                            Jesteś zalogowany jako administrator.
                            Masz uprawnienia aby pobrać plik GTFS który jest plikiem który oczekuje Google Transit
                        </div>
                        <a (click)="downloadGtfs()" class="btn btn-sm btn-light">
                            <img alt="" class="size-4 shrink-0" src="assets/media/brand-logos/google.svg"/>
                            Pobierz plik GTFS
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body px-10 py-7.5 lg:pr-12.5">
                        <div class="flex flex-wrap md:flex-nowrap items-center gap-6 md:gap-10">
                            <div class="flex flex-col items-start gap-3">
                                <h2 class="text-1.5xl font-medium text-gray-900">
                                    Kontakt ze wsparciem technicznym
                                </h2>
                                <p class="text-sm text-gray-800 leading-5.5 mb-2.5">
                                    Potrzebujesz pomocy? Skontaktuj się z naszym zespołem wsparcia, aby uzyskać szybką,
                                    spersonalizowaną pomoc w przypadku pytań i wątpliwości.
                                </p>
                            </div>
                            <img alt="image" class="dark:hidden max-h-[150px]" src="assets/media/illustrations/31.svg"/>
                            <img alt="image" class="light:hidden max-h-[150px]"
                                 src="assets/media/illustrations/31-dark.svg"/>
                        </div>
                    </div>
                    <div class="card-footer justify-center">
                        <a class="btn btn-link" href="">
                            Napisz wiadomość
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="flex flex-col gap-5 lg:gap-7.5">
            </div>
        </div>
    </div>
    <!-- end: grid -->
</div>
<!-- End of Container -->
