/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

@import '@angular/material/prebuilt-themes/azure-blue';


// Main style
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Demos */
@import "./metronic/css/demos/demo1.css";

// Keenicons
@import "./metronic/vendors/keenicons/duotone/style.css";
@import "./metronic/vendors/keenicons/filled/style.css";
@import "./metronic/vendors/keenicons/outline/style.css";
@import "./metronic/vendors/keenicons/solid/style.css";


.table tbody tr td, .table tbody tr th {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.leaflet-container .leaflet-pane.leaflet-map-pane .leaflet-pane.leaflet-tooltip-pane .leaflet-tooltip.leaflet-tooltip-igeolab {
  padding: 2px 4px;
  opacity: 1.0;
  margin-left: 6px;
  margin-top: 2px;
  border: 0;

  background-color: white;

  &::before {
    border: 0;
    //content: "";
  }
}

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

.user-access-bg {
  background-image: url('assets/media/images/2600x1200/bg-5.png');
}

.dark .user-access-bg {
  background-image: url('assets/media/images/2600x1200/bg-5-dark.png');
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  .snackbar-error {
    @include mat.snack-bar-overrides((
            button-color: #991b1b,
            supporting-text-color: #991b1b,
            container-color: #fef2f2
    ));
  }

  .snackbar-success {
    @include mat.snack-bar-overrides((
            button-color: #065f46,
            supporting-text-color: #065f46,
            container-color: #ecfdf5
    ));
  }

  .snackbar-info {
    @include mat.snack-bar-overrides((
            button-color: #1e40af,
            supporting-text-color: #1e40af,
            container-color: #eff6ff
    ));
  }
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides((
          //panel-background-color: white,
          //enabled-trigger-text-color: red,
          trigger-text-line-height: 1.125rem,
          trigger-text-size: 0.8125rem
  ));
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 6px; /*you can tweak around with this, */
  margin-bottom: -24px; /*and this*/
}

/*you also have to adjust the label, after the above*/
.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  top: 50%;
}

.custom-form-field {
  //--mdc-outlined-text-field-outline-color: #DBDFE9; /* default */
  //--mdc-outlined-text-field-focus-outline-color: #1e40af; /* focused */
  //--mdc-outlined-text-field-hover-outline-color: #9e9e9e; /* hover */
  //--mdc-outlined-text-field-error-outline-color: red;
  --mdc-outlined-text-field-outline-width: 1px; /* default */
  --mdc-outlined-text-field-focus-outline-width: 1px; /* focused */

  .mdc-text-field--outlined, .mdc-text-field--outlined.mdc-text-field--focused {
    .mdc-notched-outline {
      .mat-mdc-notch-piece.mdc-notched-outline__notch {
        border-right: 0 solid rgba(0, 0, 0, 0);
      }
    }
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    margin-top: 12px;
  }

  //.mdc-floating-label--float-above {
  //  top: 80% !important;
  //}

  .mdc-floating-label--float-above {
    top: 60% !important;
  }
}

a.text-base {
  cursor: pointer;
}

.sso-active:has(:checked) {
  background-image: url('assets/media/images/2600x1600/bg-1.png');
}

.dark .sso-active:has(:checked) {
  background-image: url('assets/media/images/2600x1600/bg-1-dark.png');
}

.mat-calendar-table .mat-calendar-body .mat-calendar-body-cell-container button.mat-calendar-body-cell {
  &.has-week-day span.mat-calendar-body-cell-content {
    background-color: #17C653;
  }
  &.has-week-day.has-excluded-day span.mat-calendar-body-cell-content {
    background-color: red;
  }
  &.has-no-week-day span.mat-calendar-body-cell-content {
    background-color: white;
  }
  &.has-no-week-day.has-included-day span.mat-calendar-body-cell-content {
    background-color: black;
    color: white;
  }
}
