/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

// Main style
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Demos */
@import "./metronic/css/demos/demo1.css";

// Keenicons
@import "./metronic/vendors/keenicons/duotone/style.css";
@import "./metronic/vendors/keenicons/filled/style.css";
@import "./metronic/vendors/keenicons/outline/style.css";
@import "./metronic/vendors/keenicons/solid/style.css";


.table tbody tr td, .table tbody tr th {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

//$dark-primary-text: rgba(black, 0.87);
//$light-primary-text: white;
//
//$public-transport-palette: (
//        50: #e3f4fb,
//        100: #b9e2f4,
//        200: #8fcfec,
//        300: #6dbce2,
//        400: #5caedc,
//        500: #53a1d5,
//        600: #4d94c7,
//        700: #4581b3,
//        800: #3f719f,
//        900: #33527b,
//        A100: #ff80ab,
//        A200: #ff4081,
//        A400: #f50057,
//        A700: #c51162,
//        contrast: (
//                50: rgba(black, 0.87),
//                100: $dark-primary-text,
//                200: $dark-primary-text,
//                300: $dark-primary-text,
//                400: $dark-primary-text,
//                500: $light-primary-text,
//                600: $light-primary-text,
//                700: $light-primary-text,
//                800: $light-primary-text,
//                900: $light-primary-text,
//                A100: $dark-primary-text,
//                A200: $light-primary-text,
//                A400: $light-primary-text,
//                A700: $light-primary-text,
//        )
//);
//
//
//$my-primary: mat.define-palette($public-transport-palette, 800);
//$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//
//// The "warn" palette is optional and defaults to red if not specified.
//$my-warn: mat.define-palette(mat.$red-palette);
//
//$public-transport-theme: mat.define-light-theme((
//        color: (
//                primary: $my-primary,
//                accent: $my-accent,
//                warn: $my-warn),
//        typography: mat.define-typography-config(),
//        density: 0,
//));
//
//@include mat.all-component-themes($public-transport-theme);
//
//@font-face {
//  font-family: Roboto;
//  src: url(assets/font/Roboto/Roboto-Light.ttf) format("opentype");
//}
//
//@font-face {
//  font-family: Roboto;
//  src: url(assets/font/Roboto/Roboto-Bold.ttf) format("opentype");
//  font-weight: bold;
//}
//
//* {
//  font-family: 'Roboto', 'arial', sans-serif;
//}
//


//body {
//  height: 100%;
//}

//$theme-colors: (
//        primary: #4ab140
//);
//
//$primary: #4ab140;
//
//.mat-success {
//  background-color: green;
//  color: #fff;
//}
//
.leaflet-container .leaflet-pane.leaflet-map-pane .leaflet-pane.leaflet-tooltip-pane .leaflet-tooltip.leaflet-tooltip-igeolab {
  padding: 2px 4px;
  opacity: 1.0;
  margin-left: 6px;
  margin-top: 2px;
  border: 0;

  background-color: white;

  &::before {
    border: 0;
    //content: "";
  }
}

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

.user-access-bg {
  background-image: url('assets/media/images/2600x1200/bg-5.png');
}

.dark .user-access-bg {
  background-image: url('assets/media/images/2600x1200/bg-5-dark.png');
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  .snackbar-error {
    @include mat.snack-bar-overrides((
            button-color: #991b1b,
            supporting-text-color: #991b1b,
            container-color: #fef2f2
    ));
  }

  .snackbar-success {
    @include mat.snack-bar-overrides((
            button-color: #065f46,
            supporting-text-color: #065f46,
            container-color: #ecfdf5
    ));
  }

  .snackbar-info {
    @include mat.snack-bar-overrides((
            button-color: #1e40af,
            supporting-text-color: #1e40af,
            container-color: #eff6ff
    ));
  }
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.select-overrides((
          //panel-background-color: white,
          //enabled-trigger-text-color: red,
          trigger-text-line-height: 1.125rem,
          trigger-text-size: 0.8125rem
  ));
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 6px; /*you can tweak around with this, */
  margin-bottom: -24px; /*and this*/
}

/*you also have to adjust the label, after the above*/
.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  top: 50%;
}
.mdc-floating-label--float-above{
  top: 80% !important;
}

.custom-form-field {
  --mdc-outlined-text-field-outline-color: #DBDFE9;       /* default */
  --mdc-outlined-text-field-focus-outline-color: #1B84FF; /* focused */
  --mdc-outlined-text-field-hover-outline-color: #9e9e9e; /* hover */
  --mdc-outlined-text-field-error-outline-color: red;
  --mdc-outlined-text-field-outline-width: 1px;           /* default */
  --mdc-outlined-text-field-focus-outline-width: 1px;     /* focused */

  .mdc-text-field--outlined, .mdc-text-field--outlined.mdc-text-field--focused {
    .mdc-notched-outline {
      .mat-mdc-notch-piece.mdc-notched-outline__notch {
        border-right: 0 solid rgba(0, 0, 0, 0);
      }
    }
  }
}

a.text-base {
  cursor: pointer;
}

.sso-active:has(:checked) {
  background-image: url('assets/media/images/2600x1600/bg-1.png');
}

.dark .sso-active:has(:checked) {
  background-image: url('assets/media/images/2600x1600/bg-1-dark.png');
}
