<ng-container>
    <div class="sidebar-header hidden lg:flex items-center relative justify-between px-3 lg:px-6 shrink-0"
         id="sidebar_header">
        <a [routerLink]="['/agency/profile']" class="dark:hidden">
            <div class="default-logo min-h-[22px] max-w-none font-bold tracking-widest">NASTĘPNA&nbsp;STACJA</div>
            <div class="small-logo min-h-[22px] max-w-none font-bold tracking-widest">NS</div>
        </a>
        <a [routerLink]="['/agency/profile']" class="hidden dark:block">
            <img class="default-logo min-h-[22px] max-w-none" src="assets/media/app/default-logo-dark.svg"/>
            <img class="small-logo min-h-[22px] max-w-none" src="assets/media/app/mini-logo.svg"/>
        </a>
        <button
                class="btn btn-icon btn-icon-md size-[30px] rounded-lg border border-gray-200 dark:border-gray-300 bg-light text-gray-500 hover:text-gray-700 toggle absolute left-full top-2/4 -translate-x-2/4 -translate-y-2/4"
                data-toggle="body" data-toggle-class="sidebar-collapse" id="sidebar_toggle">
            <i class="ki-filled ki-black-left-line toggle-active:rotate-180 transition-all duration-300">
            </i>
        </button>
    </div>
    <div class="sidebar-content flex grow shrink-0 py-5 pr-2" id="sidebar_content">
        <div class="scrollable-y-hover grow shrink-0 flex pl-2 lg:pl-5 pr-1 lg:pr-3" data-scrollable="true"
             data-scrollable-dependencies="#sidebar_header" data-scrollable-height="auto" data-scrollable-offset="0px"
             data-scrollable-wrappers="#sidebar_content" id="sidebar_scrollable">
            <div class="menu flex flex-col grow gap-0.5" data-menu="true" data-menu-accordion-expand-all="false"
                 id="sidebar_menu">

                <div class="menu-item pt-2.25 pb-px">
					<span class="menu-heading uppercase pl-[10px] pr-[10px] text-2sm font-semibold text-gray-800">
						{{ getAgencyName() }}
					</span>
                </div>

                <div class="menu-item pt-2.25 pb-px">
					<span class="menu-heading uppercase pl-[10px] pr-[10px] text-2sm font-semibold text-gray-500">
						Agencje
					</span>
                </div>

                @if (isAdmin()) {
                    <div class="menu-item">
                        <div [routerLink]="['/admin/agency/profiles']"
                             class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <i class="ki-filled ki-profile-circle text-lg"></i>
                            </span>
                            <span class="menu-title text-sm font-semibold text-gray-700">Lista Agencji</span>
                            <span class="badge badge-sm badge-outline badge-danger">Admin</span>
                        </div>
                    </div>
                }

                @if (isAdmin()) {
                    <div class="menu-item">
                        <div [routerLink]="['/admin/users']"
                             class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <i class="ki-filled ki-profile-circle text-lg"></i>
                            </span>
                            <span class="menu-title text-sm font-semibold text-gray-700">Użytkownicy</span>
                            <span class="badge badge-sm badge-outline badge-danger">Admin</span>
                        </div>
                    </div>
                }

                <div class="menu-item" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
                    <div [routerLink]="['/agency/profile']"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent" href=""
                         tabindex="0">
                        <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                            <i class="ki-filled ki-profile-circle text-lg"></i>
                        </span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Mój Profil </span>
                    </div>
                </div>
                <div class="menu-item pt-2.25 pb-px">
					<span class="menu-heading uppercase pl-[10px] pr-[10px] text-2sm font-semibold text-gray-500">
						Rozkład Jazdy
					</span>
                </div>
                <div class="menu-item" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
                    <div [routerLink]="['/agency/stops']"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent"
                         href="" tabindex="0">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400"><i
                                    class="ki-filled ki-map text-lg"></i></span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Przystanki </span>
                    </div>

                    <div [routerLink]="['/agency/routes']"
                         data-testid="line"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <i class="ki-filled ki-route text-lg"></i>
                            </span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Linie </span>
                    </div>

                    <div [routerLink]="['/agency/routes']"
                         data-testid="line"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <i class="ki-filled ki-calendar-2 text-lg"></i>
                            </span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Rozkład Jazdy </span>
                    </div>

                    <div [routerLink]="['/agency/brigades']"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent"
                         href="" tabindex="0">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <i class="ki-filled ki-notepad-edit text-lg"></i>
                            </span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Brygady </span>
                    </div>

                    <div [routerLink]="['/agency/calendars']"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent"
                         href="" tabindex="0">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <i class="ki-filled ki-calendar text-lg"></i>
                            </span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Kalendarz </span>
                    </div>

                </div>
                <div class="menu-item pt-2.25 pb-px">
					<span class="menu-heading uppercase pl-[10px] pr-[10px] text-2sm font-semibold text-gray-500">
						Dane
					</span>
                </div>
                <div class="menu-item" data-menu-item-toggle="accordion" data-menu-item-trigger="click">
                    <div [routerLink]="['/agency/google/maps']"
                         class="menu-label gap-[10px] pl-[10px] pr-[10px] py-[6px] border border-transparent"
                         tabindex="0">
                            <span class="menu-icon items-start w-[30px] text-gray-500 dark:text-gray-400">
                                <img src="assets/google.gif" alt="Google Logo"/>
                            </span>
                        <span class="menu-title text-sm font-semibold text-gray-700"> Mapy Google </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>