.stop {
  background-color: #03214B;
  color: whitesmoke;

  .fa.fa-bus {
    padding: 4px;
    margin-right: 4px;
    border-radius: 4px;
    color: whitesmoke;

    &.bus-blue {
      background-color: #2296FF;
    }

    &.bus-black {
      background-color: black;
    }

    &.tram-red {
      background-color: #d00000;
    }
  }
}
