<div class="grid gap-5">
    <div class="w-full">
        <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
            <label class="form-label flex items-center gap-1 max-w-56">
                Nazwa przystanku
            </label>
            <input class="input" type="text" [(ngModel)]="stopName"/>
        </div>
    </div>
    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
        <label class="form-label max-w-56">
            Współrzędne Geograficzne
        </label>
        <div class="grow text-sm">
            {{ lon }},{{ lat }}
        </div>
    </div>
    <div class="flex items-center flex-wrap gap-2.5">
        <label class="form-label max-w-56">
            Widoczność przystanku
        </label>
        <label class="switch">
            <input checked="" type="checkbox" [(ngModel)]="active"/>
            <span class="text-gray-800 text-sm">Aktywny</span>
        </label>
    </div>
    <div class="flex justify-end">
        <button (click)="saveStop()" class="btn btn-primary">
            Zapisz zmiany
        </button>
    </div>
</div>
