<div class="grid gap-5">
    <div class="w-full">
        <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
            <label class="form-label flex items-center gap-1 max-w-56">
                Nazwa przystanku
            </label>
            <input class="input" type="text" [(ngModel)]="stopName"/>
        </div>
    </div>

    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
        <label class="form-label">
            Pozycja
        </label>
        <div class="grow text-sm min-w-56 text-right text-gray-600">
            {{ lon }},{{ lat }}
        </div>
    </div>

    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
        <label class="form-label">Widoczność</label>
        <label class="switch w-min-56">
            <input checked="" type="checkbox" [(ngModel)]="active"/>
            @if (active) {
                <span class="text-gray-800 text-sm">Aktywny</span>

            } @else {
                <span class="text-sm text-gray-600">Nieaktywny</span>
            }
        </label>
    </div>

    <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
        <label class="form-label">Źródło</label>
        <div class="grow text-sm w-min-56 text-right">
            @if (isBdot) {
                <span class="badge badge-sm badge-outline badge-primary mr-1">BDOT10k</span>
            }

            @if (isOsm) {
                <span class="badge badge-sm badge-outline badge-primary mr-1">OSM</span>
            }
        </div>
    </div>

    <div class="flex justify-end">
        <button (click)="saveStop()" class="btn btn-primary btn-sm">
            Zapisz zmiany
        </button>
    </div>
</div>
