<div class="container-fixed">
    <div class="grid grid-cols-1 xl:grid-cols-3 gap-5 lg:gap-7.5">
        <div class="col-span-2">
            <div class="card min-w-full">
                <div class="card-header gap-2">
                    <h3 class="card-title">Rozkład Jazdy</h3>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">Oznaczenie na rozkładzie</div>
                        </div>
                        <label class="input sm:max-w-full xl:max-w-96">
                            <i class="ki-solid ki-calendar"></i>
                            <input type="text" [(ngModel)]="calendarBody.designation"
                                   (ngModelChange)="onChangeDesignation(calendarBody.designation)" placeholder="D"/>
                        </label>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">
                                Wyjaśnienie
                            </div>
                            <span class="text-gray-700 text-2sm">
                                Opis który pojawi się na rozkładzie jazdy
                            </span>
                        </div>
                        <label class="input sm:max-w-full xl:max-w-96 w-full">
                            <i class="ki-solid ki-calendar">
                            </i>
                            <input type="text" [(ngModel)]="calendarBody.description"
                                   placeholder="kursuje od poniedziałku do piątku oprócz świąt"/>
                        </label>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">
                                Rozkład Obowiązuje OD
                            </div>
                            <span class="text-gray-700 text-2sm">OD kiedy dany rozkład jazdy jest aktualny.</span>
                        </div>
                        <label class="sm:max-w-full xl:max-w-96 w-full">
                            <app-calendar-input [(ngModel)]="calendarBody.startDate" [showNavigation]="true"/>
                        </label>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">
                                Rozkład Obowiązuje DO
                            </div>
                            <span class="text-gray-700 text-2sm">DO kiedy dany rozkład jazdy jest aktualny.</span>
                        </div>
                        <label class="sm:max-w-full xl:max-w-96 w-full">
                            <app-calendar-input [(ngModel)]="calendarBody.endDate"/>
                        </label>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">

                    <div class="border-t border-gray-200 my-7.5"></div>

                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">
                                Dni tygodnia
                            </div>
                            <span class="text-gray-700 text-2sm">Dni tygodnia w które odbywają się kursy</span>
                        </div>
                        <div class="flex flex-row gap-2.5">
                            <label class="checkbox-group">
                                <input class="checkbox checkbox-sm" type="checkbox" [(ngModel)]="calendarBody.monday"/>
                                <span class="checkbox-label">Poniedziałek</span>
                            </label>

                            <label class="checkbox-group">
                                <input checked="" class="checkbox checkbox-sm" type="checkbox"
                                       [(ngModel)]="calendarBody.tuesday"/>
                                <span class="checkbox-label">Wtorek</span>
                            </label>

                            <label class="checkbox-group">
                                <input checked="" class="checkbox checkbox-sm" type="checkbox"
                                       [(ngModel)]="calendarBody.wednesday"/>
                                <span class="checkbox-label">Środa</span>
                            </label>

                            <label class="checkbox-group">
                                <input checked="" class="checkbox checkbox-sm" type="checkbox"
                                       [(ngModel)]="calendarBody.thursday"/>
                                <span class="checkbox-label">Czwartek</span>
                            </label>

                            <label class="checkbox-group">
                                <input checked="" class="checkbox checkbox-sm" type="checkbox"
                                       [(ngModel)]="calendarBody.friday"/>
                                <span class="checkbox-label">Piątek</span>
                            </label>

                            <label class="checkbox-group">
                                <input checked="" class="checkbox checkbox-sm" type="checkbox"
                                       [(ngModel)]="calendarBody.saturday"/>
                                <span class="checkbox-label">Sobota</span>
                            </label>

                            <label class="checkbox-group">
                                <input checked="" class="checkbox checkbox-sm" type="checkbox"
                                       [(ngModel)]="calendarBody.sunday"/>
                                <span class="checkbox-label">Niedziela</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">
                                Nie kursuje w dni
                            </div>
                            <!--<span class="text-gray-700 text-2sm">Lorem Ipsum</span>-->
                        </div>
                        <label class="sm:max-w-full xl:max-w-96 w-full">
                            @for (excludedYear of getUniqueExcludedYears(); track excludedYear) {

                                <strong class="block text-sm"> {{ excludedYear }} </strong>

                                @for (excludedDay of getGroupedExcludedDaysByYear()[excludedYear].sort(); track includeDays) {
                                    <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/10 ring-inset mr-1">{{ excludedDay | date: "dd.MM" }}</span>
                                }

                            }
                        </label>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col">
                            <div class="text-gray-900 text-sm font-medium">
                                Kursuje w dodatkowe dni
                            </div>
                            <!--<span class="text-gray-700 text-2sm">Lorem Ipsum</span>-->
                        </div>
                        <label class="sm:max-w-full xl:max-w-96 w-full">

                            @for (includedYear of getUniqueIncludedYears(); track includedYear) {

                                <strong class="block text-sm"> {{ includedYear }} </strong>

                                @for (includedDay of getGroupedIncludedDaysByYear()[includedYear].sort(); track includeDays) {
                                    <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset mr-1">{{ includedDay | date: "dd.MM" }}</span>
                                }

                            }

                        </label>
                    </div>
                </div>

                <div class="card-body lg:py-7.5 py-5">
                    <div class="border-t border-gray-200 my-7.5"></div>

                    <h2 class="text-center">
                        <button class="btn" (click)="prevYear()">Prev</button>
                        {{ year }}
                        <button class="btn" (click)="nextYear()">Next</button>
                    </h2>
                    <div class="grid grid-cols-3 gap-4">

                        @for (month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; track month) {
                            <div>
                                <app-calendar-picker [year]="year" [month]="month"
                                                     [weekdays]="getDays()"
                                                     [(includeDays)]="includeDays"
                                                     [(excludeDays)]="excludeDays"></app-calendar-picker>
                            </div>
                        }

                    </div>

                </div>

                <div class="card-body">
                    @if (isCreate()) {
                        <button (click)="save()" class="btn btn-success">Zapisz</button>
                    }

                    @if (isEdit()) {
                        <button (click)="update()" class="btn btn-success">Aktulaizuj</button>
                    }
                </div>

            </div>
        </div>
        <div class="col-span-1">
            <div class="card-body text-justify text-sm py-0">
                Oznaczenia stosowane w rozkładach jazdy wynikają bezpośrednio z
                <a class="link" href="https://isap.sejm.gov.pl/isap.nsf/download.xsp/WDU20180000202/O/D20180202.pdf"
                   target="_blank">
                    Obwieszczenia Ministra Infrastruktury i Budownictwa z dnia 29 grudnia 2017 r. w sprawie
                    ogłoszenia jednolitego tekstu rozporządzenia Ministra Transportu, Budownictwa i Gospodarki Morskiej
                    dotyczącego rozkładów jazdy.</a>

                Klikając w powyższy link, można zapoznać się z pełną treścią obwieszczenia.

                Poniżej przedstawiamy opis najważniejszych oznaczeń używanych w kalendarzu kursowania wraz z ich
                szczegółowym objaśnieniem.
            </div>

            <div class="card-body text-justify">
                <h3>Najczęściej stosowane</h3>
                <table class="table-auto text-sm">
                    <thead>
                    <tr>
                        <th class="min-w-12.5"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="font-bold py-1.25">D</td>
                        <td class="py-1.25">kursuje od poniedziałku do piątku oprócz świąt</td>
                    </tr>
                    <tr>
                        <td class="font-bold py-1.25">C</td>
                        <td class="py-1.25">kursuje w soboty, niedziele i święta</td>
                    </tr>
                    <tr>
                        <td class="font-bold py-1.25">6</td>
                        <td class="py-1.25">kursuje w soboty</td>
                    </tr>
                    <tr>
                        <td class="font-bold py-1.25">7</td>
                        <td class="py-1.25">kursuje w niedziele</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="card-body text-justify">
                <h3>Wszyskie dostepne pznaczenia</h3>
                <table class="table-auto text-sm">
                    <thead>
                    <tr>
                        <th class="min-w-12.5"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td class="font-bold py-1.25">A</td><td class="py-1.25">kursuje od poniedziałku do piątku</td></tr>
                    <tr><td class="font-bold py-1.25">B</td><td class="py-1.25">kursuje od poniedziałku do piątku oraz w niedzielę</td></tr>
                    <tr><td class="font-bold py-1.25">C</td><td class="py-1.25">kursuje w soboty, niedziele i święta</td></tr>
                    <tr><td class="font-bold py-1.25">D</td><td class="py-1.25">kursuje od poniedziałku do piątku oprócz świąt</td></tr>
                    <tr><td class="font-bold py-1.25">E</td><td class="py-1.25">kursuje od poniedziałku do soboty oprócz świąt</td></tr>
                    <tr><td class="font-bold py-1.25">H</td><td class="py-1.25">kursuje codziennie w okresie ferii letnich i zimowych oraz szkolnych przerw świątecznych</td></tr>
                    <tr><td class="font-bold py-1.25">L</td><td class="py-1.25">kursuje w okresie ferii letnich</td></tr>
                    <tr><td class="font-bold py-1.25">S</td><td class="py-1.25">kursuje w dni nauki szkolnej</td></tr>
                    <tr><td class="font-bold py-1.25">+</td><td class="py-1.25">kursuje w dni wolne od pracy (niedziele i święta)</td></tr>
                    <tr><td class="font-bold py-1.25">1</td><td class="py-1.25">kursuje w poniedziałki</td></tr>
                    <tr><td class="font-bold py-1.25">2</td><td class="py-1.25">kursuje w wtorki</td></tr>
                    <tr><td class="font-bold py-1.25">3</td><td class="py-1.25">kursuje w środy</td></tr>
                    <tr><td class="font-bold py-1.25">4</td><td class="py-1.25">kursuje w czwartki</td></tr>
                    <tr><td class="font-bold py-1.25">5</td><td class="py-1.25">kursuje w piątki</td></tr>
                    <tr><td class="font-bold py-1.25">6</td><td class="py-1.25">kursuje w soboty</td></tr>
                    <tr><td class="font-bold py-1.25">7</td><td class="py-1.25">kursuje w niedziele</td></tr>
                    <tr><td class="font-bold py-1.25">1-4</td><td class="py-1.25">kursuje od poniedziałku do czwartku</td></tr>
                    <tr><td class="font-bold py-1.25">1/2</td><td class="py-1.25">kursuje z poniedziałku na wtorek</td></tr>

                    <tr><td class="font-bold py-1.25">a</td><td class="py-1.25">nie kursuje w pierwszy dzień Świąt Wielkanocnych oraz w dniu 25.XII</td></tr>
                    <tr><td class="font-bold py-1.25">b</td><td class="py-1.25">nie kursuje w dniu 1.I, w pierwszy dzień Świąt Wielkanocnych i w dniu 25.XII</td></tr>
                    <tr><td class="font-bold py-1.25">c</td><td class="py-1.25">nie kursuje w dniu 1.I, w pierwszy dzień Świąt Wielkanocnych oraz w dniach 25 i 26.XII</td></tr>
                    <tr><td class="font-bold py-1.25">d</td><td class="py-1.25">nie kursuje w dniu 1.I, w pierwszy i drugi dzień Świąt Wielkanocnych oraz w dniach 25 i 26.XII</td></tr>
                    <tr><td class="font-bold py-1.25">e</td><td class="py-1.25">nie kursuje w okresie ferii letnich</td></tr>
                    <tr><td class="font-bold py-1.25">f</td><td class="py-1.25">nie kursuje w okresie ferii letnich i zimowych oraz szkolnych przerw świątecznych</td></tr>
                    <tr><td class="font-bold py-1.25">g</td><td class="py-1.25">nie kursuje w dniu 24.XII</td></tr>
                    <tr><td class="font-bold py-1.25">h</td><td class="py-1.25">nie kursuje w Wielką Sobotę oraz w dniu 24.XII</td></tr>
                    <tr><td class="font-bold py-1.25">i</td><td class="py-1.25">nie kursuje w dniu 26.XII</td></tr>
                    <tr><td class="font-bold py-1.25">j</td><td class="py-1.25">nie kursuje w dniu 27.XII</td></tr>
                    <tr><td class="font-bold py-1.25">k</td><td class="py-1.25">nie kursuje w drugi dzień Świąt Wielkanocnych oraz w dniu 26.XII</td></tr>
                    <tr><td class="font-bold py-1.25">l</td><td class="py-1.25">nie kursuje w dniu 31.XII</td></tr>
                    <tr><td class="font-bold py-1.25">m</td><td class="py-1.25">nie kursuje w dniach 24 i 31.XII</td></tr>
                    <tr><td class="font-bold py-1.25">n</td><td class="py-1.25">nie kursuje w Wielką Sobotę oraz w dniach 24 i 31.XII</td></tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>

