<div *ngIf="stop != null" class="container departures">

  <div class="departures-list" *ngIf="hasDepartures()"
       [ngClass]="{'departures-1': numberOfDepartures === 1, 'departures-2': numberOfDepartures === 2, 'departures-3': numberOfDepartures === 3, 'departures-4': numberOfDepartures === 4, 'departures-5': numberOfDepartures === 5, 'departures-6': numberOfDepartures === 6, 'departures-7': numberOfDepartures === 7, 'departures-8': numberOfDepartures === 8}">
    <div *ngFor="let departure of departures.slice(0, 8);">
      <div class="row py-2" [ngClass]="{pulse: lessThan1Min(departure.date)}" (click)="showShape(departure.shapeId)">
        <div class="col-2 text-center">{{departure.line}}</div>
        <div class="col-6 text-truncate">{{departure.headsign}}</div>
        <div class="col-4 text-end mx-0">
          <span class="in">{{departure.date | departureTimePrefix | async}}</span>
          <span>{{departure.date | departureTime:'H:mm' | async}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="departures-list" *ngIf="!hasDepartures()">
    <div class="row text-center">
      <div class="col">
        <i class="fa fa-calendar-times-o fa-3x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">Brak odjazdów</div>
    </div>
  </div>
</div>


