<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">Lista lini autobusowych</h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Lista linii autobusowych to spis tras, które obsługiwane są przez autobusy w danym systemie komunikacji
                miejskiej, podmiejskiej lub międzymiastowej.
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a (click)="clickAddRoute()" data-testid="add-route" class="btn btn-sm btn-primary">Dodaj nową linię</a>
        </div>
    </div>
</div>

<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">

        @if (hasRoutes()) {
            <div *ngFor="let route of routes.items"
                 class="flex items-center flex-wrap sm:flex-nowrap justify-between grow border border-gray-200 rounded-xl gap-2 p-5 w-full rtl:[background-position:-195px_-85px] [background-position:195px_-85px] bg-no-repeat bg-[length:650px] user-access-bg">
                <div class="flex items-center gap-4">
                    @if (!isEmpty(route.routeId.line)) {
                        <div class="relative size-[50px] shrink-0">
                            <svg class="w-full h-full stroke-brand-clarity fill-brand-light" width="44" height="48"
                                 viewBox="0 0 44 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 2.4641C19.7128 0.320509 24.2872 0.320508 28 2.4641L37.6506 8.0359C41.3634 10.1795 43.6506 14.141 43.6506
                18.4282V29.5718C43.6506 33.859 41.3634 37.8205 37.6506 39.9641L28 45.5359C24.2872 47.6795 19.7128 47.6795 16 45.5359L6.34937
                39.9641C2.63655 37.8205 0.349365 33.859 0.349365 29.5718V18.4282C0.349365 14.141 2.63655 10.1795 6.34937 8.0359L16 2.4641Z"
                                      fill=""></path>
                                <path d="M16.25 2.89711C19.8081 0.842838 24.1919 0.842837 27.75 2.89711L37.4006 8.46891C40.9587 10.5232 43.1506 14.3196 43.1506
                18.4282V29.5718C43.1506 33.6804 40.9587 37.4768 37.4006 39.5311L27.75 45.1029C24.1919 47.1572 19.8081 47.1572 16.25 45.1029L6.59937
                39.5311C3.04125 37.4768 0.849365 33.6803 0.849365 29.5718V18.4282C0.849365 14.3196 3.04125 10.5232 6.59937 8.46891L16.25 2.89711Z"
                                      stroke=""></path>
                            </svg>
                            <div class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4 text-sm">
                                {{ route.routeId.line }}
                            </div>
                        </div>
                    }
                    <div class="flex flex-col gap-0.5">
                        <div class="flex items-center flex-wrap gap-2.5">
                            <a (click)="openRoute(route)"
                               class="text-base font-medium text-gray-900 hover:text-primary-active"> {{ route.routeId.name }}</a>
                            <span class="badge badge-sm badge-outline badge-info">v{{ route.routeId.version }}.0</span>

                            @if (!route.active) {
                                <span class="badge badge-sm badge-outline badge-danger">NIE Aktywna</span>
                            }

                            @if (route.google) {
                                <span>
                                    <img [src]="'/assets/media/brand-logos/google.svg'" alt="" class="size-4 shrink-0"></span>
                            }

                        </div>
                        @if (route.matchAnyBrigade) {
                            <span class="text-2sm text-danger">Nie można usunąć. Trasy są przypisane do brygad</span>
                        }
                    </div>
                </div>
                <div class="flex items-center flex-wrap md:flex-nowrap gap-1.5">
                    <!--                    <button (click)="downloadPdf(route)" class="btn btn-sm btn-danger shrink-0">PDF</button>-->
                    <button [disabled]="route.matchAnyBrigade" (click)="deleteRoute(route)" class="btn btn-sm btn-dark shrink-0">
                        <span>Usuń</span>
<!--                        <i class="ki-filled ki-cross-square"></i>-->
                    </button>
                    <a (click)="openRoute(route)" class="btn btn-sm shrink-0 btn-secondary">Szczegóły</a>

                </div>
            </div>
        } @else {
            <!-- Container -->
            <div class="card w-full">
                <div class="card-body flex flex-col items-center gap-2.5 py-7.5">
                    <div class="flex justify-center p-7.5 py-9">
                        <img alt="image" class="dark:hidden max-h-[230px]" src="assets/media/illustrations/22.svg"/>
                        <img alt="image" class="light:hidden max-h-[230px]"
                             src="assets/media/illustrations/22-dark.svg"/>
                    </div>
                    <div class="flex flex-col gap-5 lg:gap-7.5">
                        <div class="flex flex-col gap-3 text-center">
                            <h2 class="text-1.5xl font-semibold text-gray-900">
                                Nie dodałeś lini autobusowej
                            </h2>
                            <p class="text-sm text-gray-800">
                                Wygląda na to że jeszcze nie dodałeś lini autobusowej
                                <br/>
                                Kliknij poniżej Dodaj Nową Linię
                            </p>
                        </div>
                        <div class="flex justify-center mb-5">
                            <a (click)="clickAddRoute()" class="btn btn-primary">
                                Dodaj Nową Linię
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Container -->
        }



        <p class="text-2sm text-gray-800">
            Odblokuj pełne możliwości aplikacji i zacznij publikować rozkłady jazdy w Google Maps, docierając do jeszcze
            większej liczby pasażerów!
        </p>
    </div>
</div>