<h2 mat-dialog-title>Dodaj kalendarz do brygady</h2>
<form [formGroup]="modelForm" (ngSubmit)="createBrigadeGroup()">

    <mat-dialog-content class="mat-typography">
        <p>
            Wybierz kalendarz, na którym brygada <strong>{{ data.brigadeName }}</strong> ma obowiązywać.
        </p>

        <div class="lg:py-5 py-2.5">
            <div class="flex flex-wrap justify-between gap-5">
                <div class="flex flex-col">
                    <div class="text-gray-900 text-sm font-medium">
                        Kalendarz
                    </div>
                    <span class="text-gray-700 text-2sm">Wybierz kalendarz (symbol), na którym brygada ma obowiązywać.</span>
                </div>

                <span class="sm:max-w-full xl:min-w-96">
                    <mat-form-field appearance="outline" class="w-full custom-form-field">
                        <mat-label>Kalendarz</mat-label>
                        <mat-select formControlName="calendarId" [compareWith]="compareByCalendarId">
                            @for (calendar of calendarsResponse.calendars || []; track calendar.calendarSymbolId) {
                                <mat-option [value]="calendar.calendarSymbolId">
                                    <div>
                                        <div>{{ calendar.designation }} - {{ calendar.description }}</div>
                                    </div>
                                </mat-option>
                            }
                        </mat-select>
                        @if (hasError('calendarId', 'required')) {
                            <mat-error>Kalendarz jest <strong>wymagany</strong></mat-error>
                        }
                    </mat-form-field>
                </span>
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anuluj</button>
        <button type="submit" mat-button cdkFocusInitial [disabled]="!modelForm.valid">Zapisz</button>
    </mat-dialog-actions>
</form>
