<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">Dodaj nową brygadę</h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Brygada jest to plan kursów które są do wykonania dla jednego kierowcy
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a class="btn btn-sm btn-primary">Dodaj nową brygadę</a>
        </div>
    </div>
</div>


{{ JSON.stringify(trips) }}