<label (mouseleave)="showOptions = false" class="input relative sm:max-w-full xl:max-w-96 w-full">
    <div class="shrink-0 select-none text-base text-gray-500 sm:text-sm/6"><fa-icon [icon]="faBus"></fa-icon></div>
    <input type="text"
           class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
           [(ngModel)]="stopNamePrefix"
           (ngModelChange)="onWrite(stopNamePrefix)"
           placeholder=""/>
    <a (click)="openDialog()" class="btn btn-outline btn-icon px-1 py-3" target="_blank">
        Wybierz z mapy&nbsp;<fa-icon [icon]="faMap"></fa-icon>
    </a>

    <div #menu class="custom-options" *ngIf="showOptions">
        <div *ngFor="let busStop of busStops" (click)="onSelect(busStop)">
            {{ busStop.name }}
        </div>
    </div>
</label>
