<div class="itinerary-details container open">
  <div *ngFor="let leg of itinerary?.legs; let last = last; let first = first" class="row legs">

    <div class="col-2 itinerary-shortcut" (click)="zoomPath(leg)">
      <div *ngIf="isWalk(leg) && first" class="walk first">&nbsp;</div>

      <div *ngIf="isWalk(leg)" class="walk icon text-center">
        <i class="material-icons">directions_walk</i>
      </div>

      <div *ngIf="isWalk(leg) && last" class="walk last">&nbsp;</div>

      <div *ngIf="isBus(leg)" class="bus">
        <span class="departure">{{leg.from?.departure | otpDate}}</span>
        <div class="icon text-center"><i class="material-icons">directions_bus</i></div>
        <span class="arrival">{{leg.to?.departure | otpDate}}</span>

      </div>

      <div *ngIf="isTram(leg)" class="tram">
        <span class="departure">{{leg.from?.departure | otpDate}}</span>
        <div class="icon text-center"><span class="icon"><i class="material-icons">tram</i></span></div>
        <span class="arrival">{{leg.to?.departure | otpDate}}</span>
      </div>

      <div *ngIf="isSubway(leg)" class="subway">
        <span class="departure">{{leg.from?.departure | otpDate}}</span>
        <div class="icon text-center"><span class="icon"><i class="material-icons">subway</i></span></div>
        <span class="arrival">{{leg.to?.departure | otpDate}}</span>
      </div>

      <div *ngIf="isRail(leg)">
        <span class="departure">{{leg.from?.departure | otpDate}}</span>
        <span class="arrival">{{leg.to?.departure | otpDate}}</span>
      </div>
    </div>

    <div class="col-10 itinerary-description">
      <div *ngIf="isWalk(leg) && first" (click)="zoomPoint(leg?.from)" class="walk walk-from">
        <span>{{leg.from?.name}}</span>
      </div>

      <div *ngIf="isWalk(leg) && first" class="walk walk-middle" (click)="zoomPath(leg)">
        <div>Pieszo</div>
        <div>{{leg.distance | number: '2.0-0'}} m (około {{leg.duration | otpDuration | number : '1.0-0'}} min)</div>
      </div>

      <div *ngIf="isWalk(leg) && !first && !last" class="walk walk-middle" (click)="zoomPath(leg)">
        <div>Pieszo</div>
        <div>{{leg.distance | number: '2.0-0'}} m (około {{leg.duration | otpDuration | number : '1.0-0'}} min)</div>
      </div>

      <div *ngIf="isWalk(leg) && last" class="walk walk-middle" (click)="zoomPath(leg)">
        <div>Pieszo</div>
        <div>{{leg.distance | number: '2.0-0'}} m (około {{leg.duration | otpDuration | number : '1.0-0'}} min)</div>
      </div>

      <div *ngIf="isWalk(leg) && last" (click)="zoomPoint(leg?.to)" class="walk">
        <span>{{leg.to?.name}}</span>
      </div>

      <div *ngIf="isBus(leg)" class="bus" (click)="zoomPoint(leg?.from)">
        <div class="name">{{leg.from?.name}}</div>
      </div>

      <div *ngIf="isBus(leg)" (click)="zoomPath(leg)" class="bus headsign">
        <span class="line">{{leg.routeShortName}}</span>
        <span class="direction">kierunek:</span>
        <span>{{leg.headsign}}</span>
      </div>

      <div *ngIf="isBus(leg)" class="bus" (click)="zoomPoint(leg?.to)">
        <div class="name">{{leg.to?.name}}</div>
      </div>

      <div *ngIf="isTram(leg)" class="tram" (click)="zoomPoint(leg?.from)">
        <div class="name">{{leg.from?.name}}</div>
      </div>

      <div *ngIf="isTram(leg)" (click)="zoomPath(leg)" class="tram headsign">
        <span class="line">{{leg.routeShortName}}</span>
        <span class="direction">kierunek:</span>
        <span class="direction-headsign">{{leg.headsign}}</span>
      </div>

      <div *ngIf="isTram(leg)" class="tram name" (click)="zoomPoint(leg?.to)">
        <div class="name">{{leg.to?.name}}</div>
      </div>

      <div *ngIf="isSubway(leg)" class="subway">
        <div>
          <div class="name">{{leg.from?.name}}</div>
        </div>

        <div class="headsign">
          <span class="line">{{leg.routeShortName}}</span>
          <span class="direction">kierunek:</span>
          <span class="direction-headsign">{{leg.headsign}}</span>
        </div>

        <div>
          <div class="name">{{leg.to?.name}}</div>
        </div>
      </div>

      <div *ngIf="isRail(leg)">
        <span class="icon"><i class="material-icons">train</i></span>
        <span>{{leg.from?.name}}</span>
      </div>

    </div>
  </div>
</div>
