<div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
    <div class="flex flex-col justify-center gap-2">
        <h3 class="text-xl font-medium leading-none text-gray-900">Symbol #{{ brigadeBody.calendarDesignation }}</h3>
        <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
            {{ brigadeBody.calendarDescription }}
        </div>
    </div>
    <div class="flex items-center gap-2">
        <button (click)="clearGroup()">Wyczyść </button>
        <div class="btn-group">
            <button (click)="alignToMinutes(5)" class="btn btn-xs btn-secondary">
                5m
            </button>
            <button (click)="alignToMinutes(10)" class="btn btn-xs btn-secondary">
                10m
            </button>
            <button (click)="alignToMinutes(15)" class="btn btn-xs btn-secondary">
                15m
            </button>
            <button (click)="alignToMinutes(20)" class="btn btn-xs btn-secondary">
                20m
            </button>
            <button (click)="alignToMinutes(30)" class="btn btn-xs btn-secondary">
                30m
            </button>
            <button (click)="alignToMinutes(60)" class="btn btn-xs btn-secondary">
                1h
            </button>
        </div>
        <button (click)="openTimetableModal()" class="btn btn-sm btn-secondary">
            Pokaż rozkład
        </button>
    </div>
</div>

<daypilot-scheduler
        [config]="config"
        [events]="events"
        #scheduler>
</daypilot-scheduler>

<button (click)="addResource()" class="btn btn-sm btn-primary w-full my-2 justify-center">Dodaj Kolejną Brygadę</button>
