<form [formGroup]="group" (ngSubmit)="generateTimetable(group)">

    <div class="flex flex-wrap justify-between gap-5 my-5">
        <div class="flex flex-col">
            <div class="text-gray-900 text-sm font-medium">Czas początkowy</div>
            <span class="text-gray-700 text-2sm"></span>
        </div>
        <label for="startTimePicker" class="input sm:max-w-full xl:max-w-96 w-36">
            <input type="text" [ngxTimepicker]="startTimePicker" [format]="24"
                   name="startTimePicker" id="startTimePicker"
                   formControlName="startTime"
                   class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
                   placeholder=""/>
            <span class="btn btn-icon">
                <fa-icon [icon]="faClock"></fa-icon>
            </span>
            <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
        </label>
    </div>

    <div class="flex flex-wrap justify-between gap-5 my-5">
        <div class="flex flex-col">
            <div class="text-gray-900 text-sm font-medium">Czas końcowy</div>
            <span class="text-gray-700 text-2sm"></span>
        </div>
        <label for="endTimePicker" class="input sm:max-w-full xl:max-w-96 w-36">
            <input type="text" [ngxTimepicker]="endTimePicker" [format]="24"
                   name="endTimePicker" id="endTimePicker"
                   formControlName="endTime"
                   class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
                   placeholder=""/>
            <span class="btn btn-icon">
                <fa-icon [icon]="faClock"></fa-icon>
            </span>
            <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
        </label>
    </div>

    <div class="flex flex-wrap justify-between gap-5 my-5">
        <div class="flex flex-col">
            <div class="text-gray-900 text-sm font-medium">Interwał</div>
            <span class="text-gray-700 text-2sm"></span>
        </div>
        <label for="interval" class="input sm:max-w-full xl:max-w-96 w-36">
            <input type="text"
                   name="interval" id="interval"
                   formControlName="interval"
                   class="block min-w-0 grow py-1.5 pl-1 pr-3 text-base text-gray-900 placeholder:text-gray-400 focus:outline focus:outline-0 sm:text-sm/6"
                   placeholder=""/>

            <a class="btn btn-icon" target="_blank">
                min
            </a>
        </label>
    </div>

    <div class="flex justify-end">
        <button type="submit" class="btn btn-success w-36 justify-center">
            Generuj
            <!---->
            <!--                                    @if (isAgencyDetailsSaving) {-->
            <!--                                        <fa-icon [icon]="faSpinner" [animation]="'spin'"/>-->
            <!--                                    }-->
        </button>
    </div>
</form>


@for (variant of timetableTrips; track $index) {
    <span>
        <strong>{{ variant.designation }}</strong> {{ variant.description }}
    </span>
}

@for (hour of hours; track hour) {
    <div class="border-b-zinc-500 row py-1">
        <div class="inline-block font-bold px-4">{{ hour | number: '2.0-0' }}</div>
        <div class="inline-block">

            <div class="inline-flex gap-1.5">

                @for (departureControl of this.controlDepartures.controls; track $index) {
                    @if (departureControl.get("hour").value === hour) {
                        <div [formGroup]="departureControl">
                            <input type="number" formControlName="minutes"
                                   (blur)="sortDepartures()"
                                   [ngClass]="{'border-danger': submitted && departureControl.get('minutes')?.invalid}"
                                   class="input input-sm text-center w-10 no-spin">
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}
