<div (mouseleave)="isFocus = false">
    <label class="input">
        <i class="ki-solid ki-calendar"></i>
        <div>
            <input type="text"
                   [value]="selectedDate"
                   (input)="onInput($event)"
                   (focusin)="isFocus = true"/>
        </div>
    </label>

    <div class="relative h-fit w-fit inset-0 bg-opacity-50">

        <div class="relative z-10 p-4" *ngIf="isFocus" @fadeInOut>
            <app-calendar-picker [singleSelection]="true"
                                 [includeDays]="includeDays"
                                 (includeDaysChange)="onChangeIncludeDays($event)"
                                 [year]="2025" [month]="3"></app-calendar-picker>
        </div>
    </div>
</div>