<h2 mat-dialog-title>Dodaj nowy kalendarz</h2>
<form [formGroup]="modelForm" (ngSubmit)="createCalendarItem()">

    <mat-dialog-content class="mat-typography">
        <h3>Develop across all platforms</h3>

        <div class="grid gap-2.5">
            <div class="w-full">
                <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                    <label class="form-label flex items-center gap-1 max-w-56">Data początkowa i końcowa</label>

                    <mat-form-field appearance="outline" class="w-full min-w-150 custom-form-field">
                        <mat-label>Data początkowa i końcowa</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate [formControl]="startDateControl" placeholder="Data początkowa">
                            <input matEndDate [formControl]="endDateControl" placeholder="Data końcowa">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        @if (startDateControl.hasError('required')) {
                            <mat-error>Proszę wprowadź datę początkową</mat-error>
                        }

                        @if (endDateControl.hasError('required')) {
                            <mat-error>Proszę wprowadź datę końcową</mat-error>
                        }

                    </mat-form-field>
                </div>
            </div>

            @if (modelForm.valid) {
                <span>Kalendarz będzie obowiązywać
                    od {{ startDateControl.value | date :'yyyy-MM-dd' }}
                    do {{ endDateControl.value | date :'yyyy-MM-dd' }}
                </span>
            }
        </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Anuluj</button>
        <button type="submit" mat-button cdkFocusInitial>Zapisz i dodaj nowy symbol</button>
    </mat-dialog-actions>
</form>
