<!-- Container -->
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900"> Przystanki </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Źródłem danych jest Baza Dancyh Topograficznych BDOT10k - wektorowa baza danych zawierająca lokalizację
                przestrzenną obiektów topograficznych wraz z ich podstawową charakterystyką opisową.
            </div>
        </div>
    </div>
</div>
<!-- End of Container -->

<!-- Container -->
<div class="container-fixed">
    <!-- begin: grid -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-7.5">
        <div class="col-span-1">
            <div class="grid gap-5 lg:gap-7.5">
                <!-- begin: cards -->
                <app-bus-stop-editor [stopId]="lastClickedStop.id" [stopName]="lastClickedStop.name" [lon]="lastClickedStop.lon" [lat]="lastClickedStop.lat"></app-bus-stop-editor>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Informacje o przystanku</h3>
                    </div>
                    <div id="notifications_cards">
                        <div class="card-group flex items-center justify-between py-4 gap-2.5">
                            <div class="flex items-center gap-3.5">
                                <div class="relative size-[50px] shrink-0">
                                    <svg class="w-full h-full stroke-gray-300 fill-gray-100" fill="none" height="48"
                                         viewbox="0 0 47 48" width="44" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 2.4641C19.7128 0.320509 24.2872 0.320508 28 2.4641L37.6506 8.0359C41.3634 10.1795 43.6506 14.141 43.6506
			18.4282V29.5718C43.6506 33.859 41.3634 37.8205 37.6506 39.9641L28 45.5359C24.2872 47.6795 19.7128 47.6795 16 45.5359L6.34937
			39.9641C2.63655 37.8205 0.349365 33.859 0.349365 29.5718V18.4282C0.349365 14.141 2.63655 10.1795 6.34937 8.0359L16 2.4641Z"
                                              fill="">
                                        </path>
                                        <path d="M16.25 2.89711C19.8081 0.842838 24.1919 0.842837 27.75 2.89711L37.4006 8.46891C40.9587 10.5232 43.1506 14.3196 43.1506
			18.4282V29.5718C43.1506 33.6804 40.9587 37.4768 37.4006 39.5311L27.75 45.1029C24.1919 47.1572 19.8081 47.1572 16.25 45.1029L6.59937
			39.5311C3.04125 37.4768 0.849365 33.6803 0.849365 29.5718V18.4282C0.849365 14.3196 3.04125 10.5232 6.59937 8.46891L16.25 2.89711Z"
                                              stroke="">
                                        </path>
                                    </svg>
                                    <div class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4">
                                        <i class="ki-filled ki-exit-right-corner text-1.5xl text-gray-500">
                                        </i>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-0.5">
                                    <span class="flex items-center gap-1.5 leading-none font-medium text-sm text-gray-900">Nazwa przystanku</span>
                                    <span class="text-sm text-gray-700">{{ lastClickedStop?.name || ' ' }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-group flex items-center justify-between py-4 gap-2.5">
                            <div class="flex items-center gap-3.5">
                                <div class="relative size-[50px] shrink-0">
                                    <svg class="w-full h-full stroke-gray-300 fill-gray-100" fill="none" height="48"
                                         viewbox="0 0 47 48" width="44" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 2.4641C19.7128 0.320509 24.2872 0.320508 28 2.4641L37.6506 8.0359C41.3634 10.1795 43.6506 14.141 43.6506
			18.4282V29.5718C43.6506 33.859 41.3634 37.8205 37.6506 39.9641L28 45.5359C24.2872 47.6795 19.7128 47.6795 16 45.5359L6.34937
			39.9641C2.63655 37.8205 0.349365 33.859 0.349365 29.5718V18.4282C0.349365 14.141 2.63655 10.1795 6.34937 8.0359L16 2.4641Z"
                                              fill="">
                                        </path>
                                        <path d="M16.25 2.89711C19.8081 0.842838 24.1919 0.842837 27.75 2.89711L37.4006 8.46891C40.9587 10.5232 43.1506 14.3196 43.1506
			18.4282V29.5718C43.1506 33.6804 40.9587 37.4768 37.4006 39.5311L27.75 45.1029C24.1919 47.1572 19.8081 47.1572 16.25 45.1029L6.59937
			39.5311C3.04125 37.4768 0.849365 33.6803 0.849365 29.5718V18.4282C0.849365 14.3196 3.04125 10.5232 6.59937 8.46891L16.25 2.89711Z"
                                              stroke="">
                                        </path>
                                    </svg>
                                    <div class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4">
                                        <i class="ki-filled ki-disguise text-1.5xl text-gray-500">
                                        </i>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-0.5">
                                    <span class="flex items-center gap-1.5 leading-none font-medium text-sm text-gray-900">Współrzędne Geograficzne</span>
                                    <span class="text-2sm text-gray-700">{{ lastClickedStop?.lon || ' ' }} {{ lastClickedStop?.lat || ' ' }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end: cards -->

                <!-- begin: cards -->
                <div class="card">
                    <div class="card-body py-10 flex flex-col gap-5 lg:gap-7.5">
                        <div class="flex flex-col items-start gap-2.5">
                            <div class="mb-2.5">
                                <div class="relative size-[50px] shrink-0">
                                    <svg class="w-full h-full stroke-brand-clarity fill-brand-light" width="44"
                                         height="48" viewBox="0 0 44 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 2.4641C19.7128 0.320509 24.2872 0.320508 28 2.4641L37.6506 8.0359C41.3634 10.1795 43.6506 14.141 43.6506
            18.4282V29.5718C43.6506 33.859 41.3634 37.8205 37.6506 39.9641L28 45.5359C24.2872 47.6795 19.7128 47.6795 16 45.5359L6.34937
            39.9641C2.63655 37.8205 0.349365 33.859 0.349365 29.5718V18.4282C0.349365 14.141 2.63655 10.1795 6.34937 8.0359L16 2.4641Z"
                                              fill=""></path>
                                        <path d="M16.25 2.89711C19.8081 0.842838 24.1919 0.842837 27.75 2.89711L37.4006 8.46891C40.9587 10.5232 43.1506 14.3196 43.1506
            18.4282V29.5718C43.1506 33.6804 40.9587 37.4768 37.4006 39.5311L27.75 45.1029C24.1919 47.1572 19.8081 47.1572 16.25 45.1029L6.59937
            39.5311C3.04125 37.4768 0.849365 33.6803 0.849365 29.5718V18.4282C0.849365 14.3196 3.04125 10.5232 6.59937 8.46891L16.25 2.89711Z"
                                              stroke=""></path>
                                    </svg>
                                    <div class="absolute leading-none start-2/4 top-2/4 -translate-y-2/4 -translate-x-2/4 rtl:translate-x-2/4">
                                        <i class="ki-filled ki-notification-on text-1.5xl ps-px text-brand"></i></div>
                                </div>
                            </div>
                            <a class="text-base font-semibold text-gray-900 hover:text-primary"
                               href="/metronic/tailwind/react/demo1/account/notifications">Nie widzisz przystanku na mapie? Zaproponuj NOWY!</a>
                            <p class="text-sm text-gray-700">
                                Jeżeli nie widzisz swojego przystanku na mapie kliknji prwym przycisikiem myszki i nadaj nazwę.
                                Następnie wyślji do weryfikacji. W ciągu killku godzin odpowiemy Ci czy przystanek został dodany.
                            </p><a
                                class="btn btn-link flex-none"
                                href="/metronic/tailwind/react/demo1/account/notifications">Learn more</a></div>
                        <span class="hidden [&amp;:not(:last-child)]:block [&amp;:not(:last-child)]:border-b border-b-gray-200"></span>
                    </div>
                </div>
                <!-- end: cards -->
            </div>
        </div>
        <div class="col-span-1 lg:col-span-2">
            <div class="flex flex-col gap-5 lg:gap-7.5 h-full">
                <div class="card h-full">
                    <div class="flex flex-wrap items-center gap-5 h-full">
                        <div class="rounded-xl w-full min-h-52 h-full" id="map-stops"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: grid -->
</div>
<!-- End of Container -->
