<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">Generator Rozkładów jazdy i Brygad</h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Wygeneruj kursy brygady na podstawie rozkładu jazdy.
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/brigades', brigadeCode, 'edit']"
               [queryParams]="{ symbol: calendarSymbol }"
               class="btn btn-sm btn-secondary">Anuluj i wróć do brygady</a>
        </div>
    </div>
</div>

<div class="container-fixed">
    <!-- begin: grid -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
        <div class="col-span-1">
            <div class="grid gap-5 lg:gap-7.5">
                <div class="card">
                    <div class="card-header gap-2">
                        <h3 class="card-title">Kierunek: TAM</h3>
                    </div>
                    <div class="card-body py-2.5 flex flex-col">
                        <app-timetable-board [group]="getFrontTimetable()" [submitted]="isSubmitted"
                                             [tripDepartures]="tripResponse.front"></app-timetable-board>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1 lg:col-span-1">
            <div class="flex flex-col gap-5 lg:gap-7.5 h-full">
                <div class="card">
                    <div class="card-header gap-2">
                        <h3 class="card-title">Kierunek: POWRÓT</h3>
                    </div>
                    <div class="card-body py-2.5 flex flex-col">
                        <app-timetable-board [group]="getBackTimetable()" [submitted]="isSubmitted"
                                             [tripDepartures]="tripResponse.back"></app-timetable-board>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: grid -->
</div>
