<div class="card-header gap-2" id="auth_social_sign_in">
    <h3 class="card-title">
        Edycja przystanku
    </h3>
    <div (click)="forceCloseModal()" class="btn btn-sm btn-icon btn-icon-lg text-gray-500 hover:text-primary-active">
        <i class="ki-filled ki-cross">
        </i>
    </div>
</div>
<mat-dialog-content>
    <app-bus-stop-editor [stopId]="data.stopId" [stopName]="data.stopName" [lat]="data.lat"
                         [lon]="data.lon" (onSaved)="closeModal($event)"></app-bus-stop-editor>
</mat-dialog-content>
