<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">Dodajesz nową linię</h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Pracujesz w trybie dodawania nowej linii.
                Przypisz number i nazwę linii a w następnym kroku skonfiguruj pierwszy wariant przebiegu trasy.
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/routes']" class="btn btn-sm btn-secondary">Anuluj i wróć do listy linii</a>
        </div>
    </div>
</div>

<div class="container-fixed">
    <div class="flex grow gap-5 lg:gap-7.5">
        <div class="flex flex-col items-stretch grow gap-5 lg:gap-7.5">
            <div class="card pb-2.5">
                <div class="card-header" id="basic_settings">
                    <h3 class="card-title"> Informacje podstawowe</h3>
                </div>

                <div class="card-body grid gap-5">
                    <div class="flex flex-col gap-4">
                        <!--begin:: Alert-->
                        <div class="flex flex-col justify-center gap-1 rounded-lg p-4 outline-warning outline-dotted">
                            <h3 class="text-md leading-none font-semibold text-gray-900">
                                <span>Zwróć uwagę na <span>numer linii i nazwa linii</span>
                                </span>

                            </h3>
                            <p class="text-gray-700 text-2sm font-normal">
                                Numer linii nie jest wymagany wystarczy, że podasz nazwę linii. Pamiętaj, że nazwa linii
                                lub para numer linii i nazwa linii muszą być unikalne. Nie możesz dodać 2 takich samych
                                linii.
                            </p>
                        </div>
                        <!--end:: Alert-->
                    </div>
                    <div class="w-full">
                        <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                            <label class="form-label flex items-center gap-1 max-w-56">Numer Linii</label>
                            <input type="text" name="line" id="line" [(ngModel)]="route.line" class="input"
                                   placeholder="L1">
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                            <label class="form-label flex items-center gap-1 max-w-56">Nazwa lini</label>
                            <input type="text" name="line" id="name" [(ngModel)]="route.name" class="input"
                                   placeholder="Kielce - Wrocław">
                        </div>
                    </div>


                    <div class="flex items-center justify-between flex-wrap border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <img src="/assets/media/brand-logos/google.svg" alt="" class="size-6 shrink-0">
                            <div class="flex flex-col gap-0.5">
                                <a class="text-sm font-medium text-gray-900 hover:text-primary-active">Google</a>
                                <a class="text-2sm text-gray-700 hover:text-primary-active"> Chcę aby rozkład jazdy dla
                                    linii 202 Chmielnik - Pierzchnica był udostępniony w Google Maps. </a>
                            </div>
                        </div>
                        <div class="flex items-center gap-5">
                            <label class="switch switch-sm" data-dashlane-label="true">
                                <input type="checkbox" [(ngModel)]="route.google">
                            </label>
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                        <div class="flex items-center flex-wrap gap-3.5">
                            <span class="menu-icon items-start w-[25px] text-green-700 dark:text-green-700">
                                <i class="ki-filled ki-check-circle text-3xl"></i>
                            </span>
                            <div class="flex flex-col gap-0.5">
                                <a class="text-2sm text-gray-700 hover:text-primary-active"> Linia jest aktywna </a>
                            </div>
                        </div>
                        <div class="flex items-center gap-5">
                            <label class="switch switch-sm" data-dashlane-label="true">
                                <input type="checkbox" [(ngModel)]="route.active">
                            </label>
                        </div>
                    </div>

                    <div class="w-full">
                        <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                            <label class="form-label flex items-center gap-1 max-w-56">
                                Przystanek początkowy
                            </label>
                            <app-bus-stop-selector [(busStopId)]="origin" class="w-full"></app-bus-stop-selector>
                        </div>
                    </div>

                    <div class="w-full">
                        <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                            <label class="form-label flex items-center gap-1 max-w-56">
                                Przystanek końcowy
                            </label>
                            <app-bus-stop-selector [(busStopId)]="destination" class="w-full"></app-bus-stop-selector>
                        </div>
                    </div>

                    <div class="flex justify-end pt-2.5 gap-2.5">
                        <button [routerLink]="['/agency/routes']" class="btn btn-secondary">
                            Anuluj i wróć do listy linii
                        </button>
                        <button (click)="createRouteAndNavigateToCreateNewTrip()" class="btn btn-success">
                            Zapisz linię i dodaj wariant
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
