<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">Generator Rozkładów jazdy i Brygad</h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700"></div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/timetables']" class="btn btn-sm btn-secondary">Anuluj i wróć do listy Rozkładów
                Jazdy</a>
        </div>

        <span class="badge badge-sm badge-outline badge-info w-full" style="line-height: inherit">
            To jest testowa wersja modułu generowania rozkładów jazdy.
            Aktualnie pracuję nad funkcjonalnością, która na podstawie zatwierdzonego rozkładu jazdy automatycznie wygeneruje brygady (obieg pojazdów), które będą obsługiwać daną trasę, optymalizując przy tym czasy pracy kierowców i minimalizując puste przebiegi.
        </span>

    </div>
</div>

<div class="container-fixed">

    <form [formGroup]="formGroup" (ngSubmit)="saveGeneratedTimetable()">
        <div class="card min-w-full">
            <div class="card-body lg:py-7.5">
                <div class="flex flex-wrap justify-between gap-5">
                    <div class="flex flex-col mt-2.5">
                        <div class="text-gray-900 text-sm font-medium">Nazwa i numer linii</div>
                        @if (isSubmitted && formGroup.get('routeId').errors?.['required']) {
                            <span class="text-danger text-2sm">Wybierz linię</span>
                        } @else {
                            <span class="text-gray-700 text-2sm">Nazwa i numer linii</span>
                        }
                    </div>

                    @if (isModeCreator()) {
                        <label class="sm:max-w-full xl:max-w-96 w-full">
                            <mat-form-field appearance="outline" class="w-full custom-form-field">
                                <mat-select formControlName="routeId" [compareWith]="compareByRouteId"
                                            placeholder="Numer i nazwa lini">
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="bankFilterCtrl"
                                                               [placeholderLabel]="'Numer linii'">
                                        </ngx-mat-select-search>
                                    </mat-option>

                                    @for (route of routes.items; track route) {
                                        @if (route.hasMainFrontVariant && route.hasMainBackVariant) {
                                            <mat-option [value]="route.routeId">
                                                <div class="my-2">
                                                    <strong>{{ route.routeId?.line }}</strong> {{ route.routeId?.name | routeNameNorm }}
                                                    (v1.0)
                                                </div>
                                            </mat-option>
                                        } @else {
                                            <div class="mx-3 my-2">
                                                <div>
                                                    <strong>{{ route.routeId?.line }}</strong> {{ route.routeId?.name | routeNameNorm }}
                                                    (v1.0)
                                                </div>
                                                @if (!route.hasMainFrontVariant && !route.hasMainBackVariant) {
                                                    <div class="badge badge-sm badge-outline badge-danger">Nie możesz
                                                        skonfigurwoać Rozkładu jazdy dla tej linii. Linia nie posiada
                                                        wariantu TAM i POWROTNEGO
                                                    </div>
                                                } @else if (!route.hasMainFrontVariant) {
                                                    <div class="badge badge-sm badge-outline badge-danger">Nie możesz
                                                        skonfigurwoać Rozkładu jazdy dla tej linii. Linia nie posiada
                                                        wariantu TAM
                                                    </div>
                                                } @else if (!route.hasMainBackVariant) {
                                                    <div class="badge badge-sm badge-outline badge-danger">Nie możesz
                                                        skonfigurwoać Rozkładu jazdy dla tej linii. Linia nie posiada
                                                        wariantu POWROTNEGO
                                                    </div>
                                                }
                                            </div>
                                        }

                                    }
                                </mat-select>
                            </mat-form-field>
                        </label>
                    }

                    @if (isModeEditor()) {
                        <label class="sm:max-w-full xl:max-w-96 w-full">
                            <div class="my-2">
                                <strong>{{ timetableGeneratorDetailsResponse?.routeId?.line }}</strong>
                                {{ timetableGeneratorDetailsResponse?.routeId?.name }}
                                <span class="badge badge-sm badge-outline badge-info">v{{ timetableGeneratorDetailsResponse?.routeId?.version }}
                                    .0</span>
                            </div>
                        </label>
                    }
                </div>
            </div>
        </div>

        <div class="border-t border-white my-2.5"></div>

        <!-- begin: grid -->
        @if (formGroup.get("routeId").value) {
            <div class="card min-w-full my-5">
                <div class="card-body lg:py-7.5 py-5">
                    <div class="flex flex-wrap justify-start gap-5">
                        <strong>{{ formGroup.get("routeId").value?.["line"] }}</strong>
                        <span>{{ formGroup.get("routeId").value?.["name"] }}</span>
                    </div>

                    <div class="flex flex-wrap justify-between gap-5">
                        <div class="flex flex-col mt-2.5">
                            <div class="text-gray-900 text-sm font-medium">Kalendarz</div>

                            @if (checkControlHasError("calendarName", "required")) {
                                <span class="text-danger text-2sm">Wybierz kalendarz</span>
                            } @else {
                                <span class="text-gray-700 text-2sm">Kalendarz</span>
                            }
                        </div>

                        @if (isModeCreator()) {
                            <label class="sm:max-w-full xl:max-w-96 w-full">
                                <mat-form-field appearance="outline" class="w-full custom-form-field">
                                    <mat-select [formControl]="getCalendarNameFormControl()"
                                                placeholder="Wybież kalendarz">
                                        @for (calendar of calendarsResponse.calendars; track calendar) {
                                            <mat-option [value]="calendar.calendarName">
                                                <strong>{{ calendar.designation }}</strong> {{ calendar.description }}
                                                ({{ calendar.calendarName }})
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </label>
                        }

                        @if (isModeEditor()) {
                            @let calendar = findCalendarByName(timetableGeneratorDetailsResponse.timetables.calendarName);
                            <label class="sm:max-w-full xl:max-w-96 w-full">
                                <strong>{{ calendar.designation }}</strong> {{ calendar.description }}
                                ({{ calendar.calendarName }})
                            </label>
                        }

                    </div>
                </div>

            </div>
        }
        <!-- end: grid -->

        <!-- begin: grid -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-7.5">
            <div class="col-span-1">
                <div class="grid gap-5 lg:gap-7.5">
                    <!-- begin: cards -->
                    <div class="card">
                        <div class="card-header gap-2">
                            <h3 class="card-title">Kierunek: TAM</h3>
                        </div>
                        <div class="card-body py-2.5 flex flex-col">
                            <app-timetable-board [group]="getFrontTimetableByName()" [submitted]="isSubmitted"
                                                 [timetablePayload]="timetableGeneratorDetailsResponse?.timetables?.front"></app-timetable-board>
                        </div>
                    </div>
                    <!-- end: cards -->
                </div>
            </div>
            <div class="col-span-1 lg:col-span-1">
                <div class="flex flex-col gap-5 lg:gap-7.5 h-full">
                    <!-- begin: cards -->
                    <div class="card">
                        <div class="card-header gap-2">
                            <h3 class="card-title">Kierunek: POWRÓT</h3>
                        </div>
                        <div class="card-body py-2.5 flex flex-col">
                            <app-timetable-board [group]="getBackTimetableByName()" [submitted]="isSubmitted"
                                                 [timetablePayload]="timetableGeneratorDetailsResponse?.timetables?.back"></app-timetable-board>
                        </div>
                    </div>
                    <!-- end: cards -->
                </div>
            </div>
        </div>
        <!-- end: grid -->

        <div class="border-t border-white my-5"></div>

        <!-- begin: grid -->
        <div class="card min-w-full">
            <div class="card-body lg:py-7.5 py-5">
                <div class="flex flex-wrap justify-end gap-5">
                    <button type="submit" class="btn btn-success">Wygeneruj brygady</button>
                </div>
            </div>
        </div>
        <!-- end: grid -->

    </form>
</div>
