<div class="row h-100">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a [routerLink]="['/agency/stops']" class="nav-link active">Przystanki</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/agency/routes']" class="nav-link">Linie</a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/agency/routes']" class="nav-link">Linie</a>
            </li>
        </ul>
    </div>
    <div class="col-10 h-100">
        <router-outlet></router-outlet>
    </div>
</div>

