<div class="row h-100">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a [routerLink]="['/agency/profile']" class="nav-link active">Profil</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/agency/stops']" class="nav-link active">Przystanki</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/agency/routes']" class="nav-link">Linie</a>
            </li>

            <li class="nav-item" *ngFor="let item of routes?.items || []">
                <a (click)="openTrip(item)" class="nav-link">
                    <div>{{ item.line }} {{ item.name }}</div>
                    <div></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-9 h-100">
        <router-outlet></router-outlet>
    </div>
</div>

