<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">Generator Rozkładów jazdy i Brygad</h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Rozkład jazdy to szczegółowy plan funkcjonowania środka transportu, który określa: Trasę przejazdu
                (linię komunikacyjną), Punkty zatrzymania (stacje, przystanki) oraz Dokładne godziny przyjazdu i/lub
                odjazdu z tych punktów w określonym dniu, tygodniu lub sezonie.
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/timetables/create']" class="btn btn-sm btn-primary">Dodaj nowy Rozkład Jazdy</a>
        </div>

        <span class="badge badge-sm badge-outline badge-info w-full" style="line-height: inherit">
            To jest testowa wersja modułu generowania rozkładów jazdy.
            Aktualnie pracuję nad funkcjonalnością, która na podstawie zatwierdzonego rozkładu jazdy automatycznie wygeneruje brygady (obieg pojazdów), które będą obsługiwać daną trasę, optymalizując przy tym czasy pracy kierowców i minimalizując puste przebiegi.
        </span>

    </div>
</div>

<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        @if (hasTimetables()) {
            @for (item of response.items; track $index) {

                <div class="flex items-center flex-wrap sm:flex-nowrap justify-between grow border border-gray-200 rounded-xl gap-2 p-5 w-full rtl:[background-position:-195px_-85px] [background-position:195px_-85px] bg-no-repeat bg-[length:650px] user-access-bg">
                    <div class="flex items-center gap-4">
                        <div class="flex flex-col gap-0.5">
                            <div class="flex items-center flex-wrap gap-2.5">
                                <a (click)="openTimetableGenerator(item)"
                                   class="text-base font-medium text-gray-900 hover:text-primary-active"> {{ item.timetableGeneratorId.routeId.line }} {{ item.timetableGeneratorId.routeId.name }}</a>
                                <span class="badge badge-sm badge-outline badge-info">v{{ item.timetableGeneratorId.routeId.version }}.0</span>
                            </div>
                            <div class="form-info text-gray-800 font-normal">
                                <div>
                                    Utworzono: <strong>{{ item.createdAt | date : "YYYY-MM-dd" }}</strong>
                                </div>

                                <div class="mt-1">
                                    <span class="mr-2"><strong>Kalendarze</strong></span>
                                    @for (calendar of item.calendarNames; track $index) {
                                        <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset mr-1"><strong
                                                class="mr-1">{{ calendar.designation }}</strong> {{ calendar.description }}</span>
                                    }
                                </div>

                            </div>

                            <!--                            @if (route.matchAnyBrigade) {-->
                            <!--                                <span class="text-2sm text-danger">Nie można usunąć. Trasy są przypisane do brygad</span>-->
                            <!--                            }-->
                        </div>
                    </div>
                    <div class="flex items-center flex-wrap md:flex-nowrap gap-1.5">
                        <!--                                            <button (click)="downloadPdf(route)" class="btn btn-sm btn-danger shrink-0">PDF</button>-->
                        <button (click)="deleteGeneratedTimetable(item)" class="btn btn-sm btn-dark shrink-0">
                            Usuń
                        </button>
                        <a [routerLink]="['/agency/timetables/edit']" [queryParams]="{ line: item.timetableGeneratorId.routeId.line, name: item.timetableGeneratorId.routeId.name, version: item.timetableGeneratorId.routeId.version, timetableVersion: item.timetableGeneratorId.timetableVersion, createdAt: item.timetableGeneratorId.createdAt}" class="btn btn-sm shrink-0 btn-secondary">Pokaż szczegóły</a>
                    </div>
                </div>

            }
        } @else {
            <!-- Container -->
            <div class="card w-full">
                <div class="card-body flex flex-col items-center gap-2.5 py-7.5">
                    <div class="flex justify-center p-7.5 py-9">
                        <img alt="image" class="dark:hidden max-h-[230px]" src="assets/media/illustrations/22.svg"/>
                        <img alt="image" class="light:hidden max-h-[230px]"
                             src="assets/media/illustrations/22-dark.svg"/>
                    </div>
                    <div class="flex flex-col gap-5 lg:gap-7.5">
                        <div class="flex flex-col gap-3 text-center">
                            <h2 class="text-1.5xl font-semibold text-gray-900">
                                Nie dodałeś Rozkładu Jazdy
                            </h2>
                            <p class="text-sm text-gray-800">
                                Wygląda na to że jeszcze nie dodałeś Rozkładu Jazdy
                                <br/>
                                Kliknij poniżej Dodaj Nową Rozkładu Jazdy
                            </p>
                        </div>
                        <div class="flex justify-center mb-5">
                            <!--                            <a [routerLink]="['/agency/brigades/create']" class="btn btn-primary">-->
                            <!--                                Dodaj Nową Brygadę-->
                            <!--                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Container -->
        }

        <p class="text-2sm text-gray-800">
            Odblokuj pełne możliwości aplikacji i zacznij publikować rozkłady jazdy w Google Maps, docierając do
            jeszcze większej liczby pasażerów!
        </p>
    </div>
</div>