<div class="row h-100">

    <div class="col-4">
        <div class="grid grid-cols-4 gap-1">
            <div class="col-span-4 h2">Linia {{state?.line}} {{state?.name}}</div>

            <div class="col-span-2">Wariant</div>
            <div>
                <input type="text" name="variant" id="variant" [(ngModel)]="variant" class="form-control"/>
            </div>
            <div>
                <select name="mode" id="mode" [(ngModel)]="mode" class="form-select">
                    <option [value]="tripMode.Main">TAM</option>
                    <option [value]="tripMode.Back">POWRÓT</option>
                </select>
            </div>

            <div class="col-span-2">Kierunek na tablicy czołowej</div>
            <div class="col-span-2"><input type="text" name="headsign" id="headsign" [(ngModel)]="headsign"
                                           class="form-control"/></div>
        </div>


        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            @for (stopTime of stopTimes; track stopTime) {
            <div class="example-box" cdkDrag (dblclick)="remove(stopTime)" [@simpleFadeAnimation]="'in'">
                <span>{{stopTime?.stopName}}</span>
                <span>{{stopTime.meters | distance | number: '1.1-1'}}km {{stopTime.seconds | time | number: '1.0-0'}}min</span>
            </div>
            }
        </div>

        <button (click)="clickCreateOrEdit()" class="btn btn-success">Dodaj Trasę</button>

    </div>

    <div class="col-8 h-100">
        <div class="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>
