<!-- Container -->
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Linia {{ state?.line }} {{ state?.name }}
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Konfiguracja lini autobusowej
            </div>
        </div>
        <div class="flex items-center gap-2.5">
            <a [routerLink]="['/agency/trips']" [queryParams]="{line: state.line, name: state.name}"
               class="btn btn-sm btn-secondary">Wróć do lini</a>
        </div>
    </div>
</div>
<!-- End of Container -->

<!-- Container -->
<div class="container-fixed">
    <!-- begin: grid -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-7.5">
        <div class="col-span-1">
            <div class="grid gap-5 lg:gap-7.5">
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Informacje Podstawowe</h3></div>
                    <div class="card-body grid gap-5">
                        <div class="flex items-center justify-between border border-gray-200 rounded-xl gap-2 px-3.5 py-2.5">
                            <div class="flex items-center flex-wrap gap-3.5">
                                <!--                                <img src="/assets/media/brand-logos/google.svg" class="size-6 shrink-0" alt="">-->
                                <div class="flex flex-col gap-0.5">
                                    <span class="text-sm font-medium text-gray-900">Wariant
                                        Podstawowy</span>
                                    <span class="text-2sm text-gray-700">
                                        <strong>Wariant podstawowy trasy autobusowej</strong> to główny, standardowy
                                        przebieg trasy, którą dany autobus pokonuje zgodnie z rozkładem jazdy. Jest to
                                        najbardziej typowa i regularna wersja trasy, która obowiązuje przez większość
                                        kursów danej linii.
                                    </span>
                                </div>
                            </div>
                            <div class="flex items-center gap-5">
                                <label class="switch switch-sm">
                                    <input type="checkbox" [(ngModel)]="$tripDetails.trip.isMainVariant"
                                           (click)="clickIsMainVariant()"></label>
                            </div>
                        </div>

                        <div class="text-gray-800 text-2sm">
                            <span class="text-danger uppercase">UWAGA:</span>
                            Linia posiada 2 warianty podstawowe (TAM i POWRÓT).
                        </div>

                        <div class="w-full">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Nazwa wariantu</label>
                                <input name="variant" id="variant" [(ngModel)]="$tripDetails.trip.variant" class="input"
                                       type="text" placeholder="KOZŁÓW" [disabled]="$tripDetails.trip.isMainVariant">
                            </div>
                        </div>
                        <div class="w-full">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Kierunek wariantu</label>
                                <select name="mode" id="mode" [(ngModel)]="$tripDetails.trip.mode"
                                        class="select w-full">
                                    <option [value]="tripModeSelectValue.Front">TAM</option>
                                    <option [value]="tripModeSelectValue.Back">POWRÓT</option>
                                </select>
                            </div>
                        </div>

                        <div class="border-t border-gray-200 my-2.5" *ngIf="!$tripDetails.trip.isMainVariant"></div>

                        <div class="w-full" *ngIf="!$tripDetails.trip.isMainVariant">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Symbol jakim oznaczysz kurs na rozkładzie
                                    jazdy</label>
                                <input name="variantDesignation" id="variantDesignation"
                                       [(ngModel)]="$tripDetails.trip.variantDesignation" class="input"
                                       type="text" placeholder="W">
                            </div>
                        </div>
                        <div class="w-full" *ngIf="!$tripDetails.trip.isMainVariant">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Opis oznaczenia</label>
                                <input name="variantDescription" id="variantDescription"
                                       [(ngModel)]="$tripDetails.trip.variantDescription" class="input"
                                       type="text" placeholder="Kurs skrócony do miejscowości Wrocław">
                            </div>
                        </div>

                        <div class="border-t border-gray-200 my-2.5"></div>

                        <div class="w-full">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Przystanek początkowy</label>
                                <input name="origin" id="origin" [(ngModel)]="$tripDetails.trip.origin" class="input"
                                       type="text" placeholder="KOZŁÓW">
                            </div>
                        </div>

                        <div class="w-full">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Przystanek końcowy</label>
                                <input name="destination" id="destination"
                                       [(ngModel)]="$tripDetails.trip.destination" class="input"
                                       type="text" placeholder="KOZŁÓW">
                            </div>
                        </div>

                        <div class="w-full">
                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                <label class="form-label max-w-56">Kierunek na tablicy czołowej</label>
                                <input type="text" name="headsign" id="headsign"
                                       [(ngModel)]="$tripDetails.trip.headsign" class="input">
                            </div>
                        </div>
                        <div class="flex justify-end">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-span-1 lg:col-span-2">
            <div class="flex flex-col gap-5 lg:gap-7.5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Przystanki autobusowe
                        </h3>
                    </div>

                    <div class="card-table scrollable-x-auto pb-3">
                        <table class="table align-middle text-sm text-gray-500">
                            <tr>
                                <td class="py-2 text-gray-600 font-normal">
                                    Prędkość komunikacyjna
                                </td>
                                <td class="py-2 text-center">
                                    <div class="input-group">
                                        <input type="number" name="velocity" id="velocity"
                                               [(ngModel)]="$tripDetails.trip.communicationVelocity"
                                               (ngModelChange)="onCommunicationVelocityChange($event)" class="input"
                                               placeholder="45">
                                        <span class="btn btn-secondary">km/h</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-3">Dystans</td>
                                <td class="py-3 text-gray-700 text-2sm font-normal">
                                    {{ getLastStop()?.meters | distance | number: '1.1-1' }} km
                                </td>
                            </tr>
                            <tr>
                                <td class="py-3">Czas przejazdu</td>
                                <td class="py-3 text-gray-700 text-2sm font-normal">
                                    {{ getLastStop()?.seconds | time | number: '1.0-0' }} min
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="border-t border-gray-200 my-0"></div>

                    <!--<div class="card-body">-->
                    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                        @for (stopTime of $tripDetails.trip.stops; track stopTime; let index = $index) {
                            <div class="example-box" cdkDrag (dblclick)="remove(stopTime)"
                                 [@simpleFadeAnimation]="'in'">
                                <span>
                                    <span [ngClass]="{'blue': stopTime.bdot10k, 'dark-blue': !stopTime.bdot10k}">{{ index + 1 }}</span>
                                    <span>{{ stopTime?.stopName }} </span>
                                </span>

                                <span>
                                    <span (click)="openDialogEditStop(stopTime)"><a
                                            class="btn btn-sm btn-icon btn-clear btn-primary"><i
                                            class="ki-filled ki-notepad-edit"></i></a></span>
                                    <span>{{ stopTime.meters | distance | number: '1.1-1' }}</span>
                                    <span>km {{ stopTime.seconds | time | number: '1.0-0' }}min</span>
                                </span>
                            </div>
                        }
                    </div>
                    <!--</div>-->
                    <div class="card-body pr-2">
                        <div class="flex justify-end gap-2">
                            <button (click)="addBrake()" class="btn btn-secondary pr-2">
                                Dodaj postój na przystanku
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Mapa
                        </h3>
                        <a (click)="zoomPolyline()" class="btn btn-link">Zoom</a>
                    </div>
                    <!--<div style="display: grid" class="card-body p-5 lg:p-7.5 lg:pb-7">-->
                    <div style="display: grid">
                        <div class="map-container">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>

                <div class="card-body pr-2">
                    <div class="flex justify-end gap-2">
                        <button (click)="clickCreateOrEdit()" class="btn btn-success">Zapisz Przystanki i wróć do listy
                            wariantów
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end: grid -->
</div>
<!-- End of Container -->

