<div class="map-container">

    <div class="container utils-panel-container">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 stop-details itinerary-details" [ngClass]="{'itinerary-details': true}">
                <app-brand-header *ngIf="!hasCurrentStop()"></app-brand-header>

                <app-stop [stop]="currentStop"
                          [stopDetails]="currentStopDetails"
                          [routes]="currentStopRoutes"
                          *ngIf="hasCurrentStop()"></app-stop>

                <app-routes [stop]="currentStop"
                            [stopDetails]="currentStopDetails"
                            [routes]="currentStopRoutes"
                            *ngIf="hasCurrentStop()"
                            (clickLine)="onClickLine($event)" class="routes-details component-container"></app-routes>

                <app-departures [stop]="currentStop"
                                [stopTimes]="currentStopTimes || []"
                                [line]="currentLine"
                                [routes]="currentStopRoutes"
                                class="component-container"></app-departures>

                <app-otp *ngIf="!hasCurrentStop()"
                         [startPoint]="startPoint"
                         [endPoint]="endPoint"
                         [map]="map"></app-otp>

                <app-timetable [stop]="currentStop"
                               [line]="currentLine || ''"
                               [routes]="currentStopRoutes"
                               [stopTimes]="currentStopTimes || []"
                               *ngIf="hasCurrentLine()" (onClickDeparture)="showTrip($event)"
                               class="timetable-details"></app-timetable>
            </div>
        </div>
    </div>


    <div class="map-frame">
        <div id="map"></div>
    </div>

</div>

