.bike-station-marker {
  display: inline-flex;

  .num {
    position: absolute;
  }
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .utils-panel-container {
    .row {
      .stop-details {
        //background-color: white;
        //border: 1px solid #E4E4E4E4;
        padding: 0;
      }
    }
  }

  .stop-details {
    position: absolute;
    left: 0;
    z-index: 999;

    &.itinerary-details {
      height: 100%;
    }

    .timetable-details {
      margin-top: 12px;
    }
  }

  .fa-circle-o {
    background-color: white;
    border-radius: 2em;
  }
}

.map-frame {
  border: 0 solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.stop-marker {
  background-color: steelblue;

  .stop-marker {
    background-color: steelblue;
  }

}

